/**
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 */

/**
  Standard colors

  These are defined as SCSS variables in case we need to use them in
  SCSS constructs (eg. mixins or functions) in the future. 

  These are largely incomplete palettes ranging from 100-900 in the
  style of font-weight, with 900 being the darkest and 100 the lightest.
  They're incomplete as we don't have a need for the missing pieces in
  the UI at the moment, and should be extended as and when needed.
 */
$color-white: #ffffff;

$color-grey-100: #eaecf5;
$color-grey-200: #e5e4e7;
$color-grey-300: #d7dae5;
$color-grey-400: #bbbdc4;
$color-grey-500: #929397;
$color-grey-600: #636570;
$color-grey-700: #45464b;
$color-grey-900: #001524;

$color-neutral-100: #f7f7f7;
$color-neutral-200: #c2c3c9;
$color-neutral-300: #9496a1;
$color-neutral-500: #6d6d6d;
$color-neutral-600: #424242;
$color-neutral-700: #333333;
$color-neutral-800: #252525;
$color-neutral-900: #1e1e1e;

$color-green-300: #b8f5bf;
$color-green-700: #06571a;

$color-red-300: #facdcd;
$color-red-500: #dc3545;
$color-red-700: #780a0a;

$color-blue-300: #c2dcee;
$color-blue-500: #7bb2d9;
$color-blue-700: #044471;

$color-yellow-300: #eee9c2;
$color-yellow-500: #cab92d;
$color-yellow-700: #716504;

$color-indigo-300: #cbabf8;
$color-indigo-400: #b37dff;
$color-indigo-500: #4200a1;
$color-indigo-700: #28005f;

$color-brand: #441785;
$color-logo: #e0e2eb;

:root {
  // Colors for explicit use
  --color-white: #{$color-white};

  --color-grey-light: #{$color-grey-300};
  --color-grey: #{$color-grey-600};
  --color-grey-dark: #{$color-grey-700};

  --color-neutral-light: #{$color-neutral-300};
  --color-neutral: #{$color-neutral-500};
  --color-neutral-dark: #{$color-neutral-700};

  --color-green-light: #{$color-green-300};
  --color-green-dark: #{$color-green-700};

  --color-red-light: #{$color-red-300};
  --color-red: #{$color-red-500};
  --color-red-dark: #{$color-red-700};

  --color-blue-light: #{$color-blue-300};
  --color-blue: #{$color-blue-500};
  --color-blue-dark: #{$color-blue-700};

  --color-yellow-light: #{$color-yellow-300};
  --color-yellow: #{$color-yellow-500};
  --color-yellow-dark: #{$color-yellow-700};

  // Backgrounds
  --color-bg-top: #{$color-white};
  --color-bg: #{$color-grey-100};
  --color-bg-bottom: #{$color-grey-200};
  --color-header-bg: #{$color-brand};
  --color-code-bg: #{$color-neutral-900};

  // Typography
  --color-breadcrumbs: #{$color-grey-600};
  --color-code-text: #{$color-white};
  --color-header-text: #{$color-white};
  --color-text: #{$color-grey-900};
  --color-text-muted: #{$color-grey-600};
  --color-text-disabled: #{$color-grey-500};
  --color-text-error: #{$color-grey-700};
  --color-title: #{$color-neutral-700};

  // Links
  --color-header-link: #{$color-white};
  --color-header-link-hover: #{$color-indigo-300};
  --color-link: #{$color-indigo-500};
  --color-link-hover: #{$color-indigo-700};

  // Timeline
  --color-timeline-entry: #{$color-indigo-500};
  --color-timeline-line: #{$color-neutral-200};

  // Icons
  --color-icon-grey: #{$color-neutral-300};

  // Operations
  --color-operation-queued: #{$color-yellow-700};
  --color-operation-executing: #{$color-blue-700};
  --color-operation-success: #{$color-green-700};
  --color-operation-failure: #{$color-red-700};

  // Misc
  --color-border: #{$color-grey-300};
  --color-logo: #{$color-grey-300};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-top: #{$color-neutral-600};
    --color-bg: #{$color-neutral-700};
    --color-bg-bottom: #{$color-neutral-800};

    --color-breadcrumbs: #{$color-grey-400};
    --color-text: #{$color-grey-100};
    --color-text-muted: #{$color-grey-400};
    --color-text-disabled: #{$color-grey-500};
    --color-title: #{$color-grey-200};

    --color-link: #{$color-indigo-300};
    --color-link-hover: #{$color-indigo-400};

    --color-timeline-entry: #{$color-indigo-400};
    --color-timeline-line: #{$color-grey-700};

    --color-operation-queued: #{$color-yellow-300};
    --color-operation-executing: #{$color-blue-300};
    --color-operation-success: #{$color-green-300};
    --color-operation-failure: #{$color-red-300};

    --color-border: #{$color-grey-700};
    --color-logo: #{$color-neutral-600};
  }
}
