.flex-between {
  display: flex;
  justify-content: space-between;
}

.monospace {
  font-family: 'Roboto Mono';
}

.muted {
  color: var(--color-text-muted);
}

.disabled {
  color: var(--color-text-disabled);
}

.sticky {
  position: sticky;
  top: 0;
}
