<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <LayoutWide>
    <header>
      <Breadcrumbs />
      <ViewHeading>Operations</ViewHeading>
      <SearchFilterBuilder
        v-model="filter"
        :default-text="defaultFilter"
        class="filter-input"
        @input="updateOperations"
      />
    </header>

    <MultiColumn class="content-area">
      <div class="column-narrow sticky">
        <div class="card">
          <PaginationControls
            class="pagination"
            :current-page="pageTokenStack.length"
            :have-next-page="haveNextPage"
            :have-previous-page="havePreviousPage"
            @jumpToNext="loadNextOperationsPage"
            @jumpToPrevious="loadPreviousOperationsPage"
            @jumpToFirst="loadFirstPage"
          />
        </div>
      </div>
      <div
        class="column-wide"
        v-if="operations.length > 0 && !loading"
      >
        <OperationItem
          v-for="operation in operations"
          :key="operation.name"
          :operation="operation"
        />
      </div>

      <EmptyView
        class="column-wide"
        v-else-if="loading"
      >
        Loading...
      </EmptyView>

      <EmptyView
        class="column-wide"
        v-else
      >
        No operations matching the {{ filter ? 'current' : 'default' }} filter found.
      </EmptyView>
    </MultiColumn>
  </LayoutWide>
</template>

<script lang="ts">
import operations, { DecodedOperation, OperationsList } from '@/apis/operations'

import Breadcrumbs from '@/components/Breadcrumbs.vue'
import EmptyView from '@/components/EmptyView.vue'
import LayoutWide from '@/components/LayoutWide.vue'
import MultiColumn from '@/components/MultiColumn.vue'
import OperationItem from '@/components/OperationItem.vue'
import PaginationControls from '@/components/PaginationControls.vue'
import SearchFilterBuilder from '@/components/SearchFilterBuilder.vue'
import ViewHeading from '@/components/ViewHeading.vue'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Browse',
  components: {
    Breadcrumbs,
    OperationItem,
    PaginationControls,
    SearchFilterBuilder,
    ViewHeading,
    EmptyView,
    LayoutWide,
    MultiColumn
  },
  beforeRouteUpdate(to) {
    this.rerunFilter(to)
  },
  data() {
    return {
      // This is the default filter set in BuildGrid's ListOperations implementation.
      // Setting an empty filter string on the bgd-browser end will cause this filter
      // to be used in the actual request.
      defaultFilter: 'stage != completed & sort_order = queued_time(desc)',
      filter: '',
      results: {
        operations: [] as DecodedOperation[]
      } as OperationsList,
      pageSize: 30,
      // Operations responses only have a `next_page_token`. This keeps seen
      // tokens to allow navigating back:
      pageTokenStack: [''],
      loading: false
    }
  },
  computed: {
    namespace() {
      return (this.$route.params.namespace || '') as string
    },
    operations() {
      return this.results.operations
    },
    currentPageToken() {
      return this.pageTokenStack[this.pageTokenStack.length - 1]
    },
    nextPageToken() {
      return this.results?.nextPageToken || ''
    },
    haveNextPage() {
      return this.nextPageToken !== ''
    },
    havePreviousPage() {
      return this.pageTokenStack.length > 1
    }
  },
  created() {
    this.rerunFilter(this.$route)
  },
  methods: {
    async updateOperations() {
      this.pageTokenStack = ['']
      await this.listOperations()
    },
    async listOperations() {
      this.loading = true
      try {
        this.results = await operations.list(this.namespace, this.filter, {
          pageSize: this.pageSize, pageToken: this.currentPageToken
        })
      } finally {
        this.loading = false
      }

      const nextRoute = {
        query: {
          filter: this.filter
        }
      }
      if (this.$route.query.filter === undefined) {
        this.$router.replace(nextRoute)
      } else {
        this.$router.push(nextRoute)
      }
    },
    async loadNextOperationsPage() {
      if (this.haveNextPage) {
        this.pageTokenStack.push(this.nextPageToken)
        await this.listOperations()
        this.scrollToTop()
      }
    },
    async loadPreviousOperationsPage() {
      if (this.havePreviousPage) {
        this.pageTokenStack.pop()
        await this.listOperations()
        this.scrollToTop()
      }
    },
    async loadFirstPage() {
      if (this.havePreviousPage) {
        this.pageTokenStack = this.pageTokenStack.slice(0, 1)
        await this.listOperations()
        this.scrollToTop()
      }
    },
    // TODO This one gets really complex. Tackle it later
    rerunFilter(route: any) {
      if (route.query.filter !== undefined) {
        this.filter = route.query.filter
      } else {
        this.filter = this.defaultFilter
      }
      this.listOperations()
    },
    scrollToTop() {
      window.scroll(0, 0)
    }
  }
})
</script>

<style lang="scss" scoped>
header {
  padding: 0 4rem;
  margin: 1rem 0 0 0;
}

.filter-input {
  margin-bottom: 1em;
}

.pagination {
  padding: 0.5em;
}

.card {
  background-color: var(--color-bg);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .1);
}

.content-area {
  padding: 1rem 4rem;
  background-color: var(--color-bg-bottom);
  box-shadow: 0 0.125rem .5rem rgba(0, 0, 0, .05) inset;
}
</style>
