<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <LayoutBasic>
    <Breadcrumbs :crumbs="breadcrumbs" />

    <ViewHeading>Directory</ViewHeading>
    <DirectoryListing
      :directories="directory.directories"
      :symlinks="directory.symlinks"
      :files="directory.files"
    />
  </LayoutBasic>
</template>

<script lang="ts">
import { getConfig } from '@/apis/base'
import bytestream from '@/apis/bytestream'

import Breadcrumbs from '@/components/Breadcrumbs.vue'
import DirectoryListing from '@/components/DirectoryListing.vue'
import LayoutBasic from '@/components/LayoutBasic.vue'
import ViewHeading from '@/components/ViewHeading.vue'
import { Directory } from '@/protos/build/bazel/remote/execution/v2/remote_execution'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Directory',
  components: {
    Breadcrumbs,
    DirectoryListing,
    ViewHeading,
    LayoutBasic
  },
  beforeRouteUpdate(to, from, next) {
    this.getDirectory(to.params.hash as string, to.params.sizeBytes as string)
    next()
  },
  data() {
    return {
      breadcrumbs: [{ title: 'CAS' }],
      directory: Directory.create()
    }
  },
  computed: {
    namespace() {
      return (this.$route.params.namespace || '') as string
    },
    tarballUrl() {
      const config = getConfig(this.namespace)
      return `${config.backendUrl}/api/v1/tarballs/${this.$route.params.hash}_${this.$route.params.sizeBytes}.tar.gz`
    }
  },
  created() {
    this.getDirectory(this.$route.params.hash as string, this.$route.params.sizeBytes as string)
  },
  methods: {
    async getDirectory(hash: string, sizeBytes: bigint | string) {
      this.directory = await bytestream.readDirectory(this.namespace, hash, sizeBytes)
    }
  }
})
</script>

<style lang="scss" scoped>
a.external {
  margin: 1.125rem 0;
  display: flex;
  align-items: center;
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
}
</style>
