<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <LayoutBasic>
    <Breadcrumbs :crumbs="breadcrumbs" />
    <ViewHeading>File</ViewHeading>

    <EmptyView v-if="fileFetchFailed">
      Could not fetch blob with digest <span class="digest">{{ fileHash }}/{{ fileSizeBytes }}</span>.
    </EmptyView>

    <div v-else>
      <div class="download-links">
        <a
          v-if="downloadUrl"
          :href="downloadUrl"
          title="Download file"
        >
          <DownloadIcon />
        </a>
        <a
          v-if="fileIsDisplayable"
          :href="`${downloadUrl}?raw=1`"
          title="View raw"
        >
          <DocumentTextIcon />
        </a>
      </div>

      <div
        v-if="fileIsDisplayable"
        class="log"
      >
        <span v-if="fetchingFile">Loading...</span>
        <highlightjs
          autodetect
          :code="content"
        />
      </div>

      <EmptyView v-else>
        File is too large to display ({{ fileSizeMegaBytes }} MB).
      </EmptyView>
    </div>
  </LayoutBasic>
</template>

<script lang="ts">
import { DocumentTextIcon, DownloadIcon } from '@heroicons/vue/outline'

import { getConfig } from '@/apis/base'
import bytestream from '@/apis/bytestream'

import Breadcrumbs from '@/components/Breadcrumbs.vue'
import EmptyView from '@/components/EmptyView.vue'
import LayoutBasic from '@/components/LayoutBasic.vue'
import ViewHeading from '@/components/ViewHeading.vue'

import 'highlight.js/styles/vs2015.css'
import { defineComponent } from 'vue'

// Upper limit on the size of the content that can be rendered.
const MAX_FILE_SIZE_BYTES = 1024 * 1024

export default defineComponent({
  name: 'File',
  components: {
    Breadcrumbs,
    DocumentTextIcon,
    DownloadIcon,
    ViewHeading,
    LayoutBasic,
    EmptyView
  },
  beforeRouteUpdate(to, from, next) {
    this.fileHash = to.params.hash as string
    this.fileSizeBytes = to.params.sizeBytes as string

    this.getFile(this.fileHash, this.fileSizeBytes)
    next()
  },
  data() {
    return {
      breadcrumbs: [{ title: 'CAS' }],
      content: '',
      fileFetchFailed: false,
      fetchingFile: false,
      fileHash: undefined as string | undefined,
      fileSizeBytes: undefined as string | undefined
    }
  },
  computed: {
    namespace() {
      return (this.$route.params.namespace || '') as string
    },
    fileIsDisplayable() {
      return this.fileSizeBytes && Number(this.fileSizeBytes) <= MAX_FILE_SIZE_BYTES
    },
    downloadUrl() {
      if (this.fileHash && this.fileSizeBytes) {
        const config = getConfig(this.namespace)
        return `${config.backendUrl}/api/v1/blobs/${this.fileHash}/${this.fileSizeBytes}`
      }
      return undefined
    },
    fileSizeMegaBytes() {
      const megaBytes = this.fileSizeBytes ? Number(this.fileSizeBytes) / (1024 * 1024) : 0
      return megaBytes.toFixed(2)
    }
  },
  created() {
    this.fileHash = this.$route.params.hash as string
    this.fileSizeBytes = this.$route.params.sizeBytes as string

    this.getFile(this.fileHash, this.fileSizeBytes)
  },
  methods: {
    async getFile(hash: string, sizeBytes: bigint | string) {
      this.fileFetchFailed = false
      if (this.fileIsDisplayable) {
        this.fetchingFile = true
        try {
          this.content = await bytestream.readBlob(this.namespace, hash, sizeBytes)
        } catch (error_) {
          this.fileFetchFailed = true
        }
        this.fetchingFile = false
      }
    }
  }
})
</script>

<style lang="scss" scoped>
.log {
  font-family: 'Roboto Mono';
  background-color: var(--color-code-bg); // needs to match color in highlight.js/styles/vs2015.css
  padding: 30px;
  border-radius: 10px;
  color: var(--color-white);
  font-size: 1.1rem;
  box-shadow: 0 -0.2rem .4rem rgba(0, 0, 0, .1) inset;

  pre {
    margin: 0;
    overflow-x: auto;
  }
}

.download-links {
  a {
    color: var(--color-link);
  }

  svg {
    width: 32px;
    height: 32px;
    padding: 5px;
  }
}

.digest {
  font-family: monospace;
}
</style>
