<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script setup>
/* eslint-disable */
// TODO make this page typescript as well
import indexdb from '@/apis/indexdb'
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import DateTime from '@/components/DateTime.vue'
import EmptyView from '@/components/EmptyView.vue'
import HistoryItemLink from '@/components/HistoryItemLink.vue'
import LayoutBasic from '@/components/LayoutBasic.vue'
import SearchInput from '@/components/SearchInput.vue'
import ViewHeading from '@/components/ViewHeading.vue'
import { XIcon } from '@heroicons/vue/solid'
import { computed, onMounted, reactive, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

async function removePage(page) {
  await indexdb.deletePage(page)
  const index = state.pages.indexOf(page)
  if (index > -1) {
    state.pages.splice(index, 1)
  }
}

const router = useRouter()
const route = useRoute()

function updateQuery() {
  if (state.query) {
    router.replace({
      query: {
        filter: state.query
      }
    })
  } else {
    router.replace({
      query: {}
    })
  }
}

const state = reactive({
  loaded: ref(false),
  pages: ref([]),
  query: ref(route.query.filter || ''),
  filteredPages: computed(() => {
    return state.pages.filter(page => {
      let filter = page.url.includes(state.query)
      if (page.route?.name) {
        filter = filter || page.route.name.includes(state.query)
      }
      if (page.text) {
        filter = filter || page.text.includes(state.query)
      }
      return filter
    })
  })
})

onMounted(() => {
  indexdb.getPages().then((allPages) => {
    const toOmit = ['MultiHome', 'Home', 'History']
    state.pages = allPages.filter(page => !page.route || !toOmit.includes(page.route.name))
    state.loaded = true
  })
})
</script>

<template>
  <LayoutBasic>
    <Breadcrumbs />
    <ViewHeading>View History</ViewHeading>

    <SearchInput
      v-model="state.query"
      prompt="Filter history..."
      @input="updateQuery"
    />

    <div v-if="state.loaded && state.filteredPages.length > 0">
      <table>
        <thead>
          <tr>
            <th>View</th>
            <th>Link</th>
            <th>Viewed at</th>
            <th />
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="page in state.filteredPages"
            :key="page.url"
          >
            <td>
              <div>{{ page.route?.name || "Link" }}</div>
            </td>
            <td>
              <HistoryItemLink :page="page" />
            </td>
            <td>
              <DateTime :milliseconds="page.timestamp" />
            </td>
            <td>
              <button @click="removePage(page)">
                <XIcon />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <EmptyView v-else-if="!state.query">
      Recently seen pages will be shown here once visited.
    </EmptyView>

    <EmptyView v-else>
      No pages in history found matching query.
    </EmptyView>
  </LayoutBasic>
</template>

<style scoped lang="scss">
svg {
  width: 1.5rem;
  height: 1.5rem;
}

table {
  width: 100%;
  margin-top: 2rem;
}

th {
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-grey);
}

td {
  white-space: nowrap;
}

button {
  border: none;
  background: transparent;
  color: var(--color-link);
  cursor: pointer;

  &:hover {
    color: var(--color-link-hover);
  }
}

.history-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1.75rem 0;

  .history-row-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;

    a {
      font-size: 1rem;
    }

    .target-name {
      color: var(--color-text-muted);
      margin: 0;
    }
  }

  .link-section {
    flex: 0 0 28rem;
    margin-right: 1rem;
  }
}
</style>
