<!--
  Copyright 2024 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script setup lang="ts">
import { getNamespaces } from '@/apis/base';
import BgdLogo from '@/components/BgdLogo.vue';
import LayoutBasic from '@/components/LayoutBasic.vue';
import NamespaceSummary from '@/components/NamespaceSummary.vue';
import ViewHeading from '@/components/ViewHeading.vue';

const namespaces = getNamespaces()
</script>

<template>
  <LayoutBasic>
    <div class="multi-home">
      <BgdLogo class="logo" />
      <ViewHeading>Available Instances</ViewHeading>
      <ul>
        <li
          v-for="ns in namespaces"
          :key="ns"
        >
          <NamespaceSummary :namespace="ns" />
        </li>
      </ul>
    </div>
  </LayoutBasic>
</template>

<style lang="scss" scoped>
.multi-home {
  position: relative;

  .logo {
    position: absolute;
    z-index: -1;
    right: -10rem;
    top: 0rem;
    height: 42rem;
    color: var(--color-logo);
  }

  ul {
    margin: 1rem 0 0 0;
    padding: 0;
    list-style: none;
    max-width: 35rem;
  }
}
</style>
