<!--
  Copyright 2021 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <LayoutBasic>
    <div class="tool-invocations">
      <Breadcrumbs :crumbs="breadcrumbs" />

      <ViewHeading>{{ toolInvocationId }}</ViewHeading>

      <FilteredOperationsList :filter="filter" />
    </div>
  </LayoutBasic>
</template>

<script lang="ts">

import Breadcrumbs from '@/components/Breadcrumbs.vue'
import FilteredOperationsList from '@/components/FilteredOperationsList.vue'
import LayoutBasic from '@/components/LayoutBasic.vue'
import ViewHeading from '@/components/ViewHeading.vue'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'InvocationsByToolDetails',
  components: {
    Breadcrumbs,
    FilteredOperationsList,
    ViewHeading,
    LayoutBasic
  },
  data() {
    return {
      breadcrumbs: [{ title: 'Tool Invocations' }],
      filter: ''
    }
  },
  computed: {
    toolInvocationId() {
      return this.$route.params.toolInvocationId
    }
  },
  created() {
    this.filter = `invocation_id = ${this.$route.params.toolInvocationId} & sort_order = queued_time`
  }
})
</script>

<style lang="scss" scoped>
.tool-invocations {
  border-collapse: collapse;
}
</style>
