<!--
  Copyright 2021, 2025 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script setup lang="ts">
import operations, { DecodedOperation } from '@/apis/operations';
import { botStatusName } from '@/apis/reapi';
import workerApi, { ParsedWorker } from '@/apis/workers';
import Breadcrumbs from '@/components/Breadcrumbs.vue';
import DateTime from '@/components/DateTime.vue';
import EmptyView from '@/components/EmptyView.vue';
import LayoutWide from '@/components/LayoutWide.vue';
import MultiColumn from '@/components/MultiColumn.vue';
import OperationsList from '@/components/OperationList.vue';
import SectionHeading from '@/components/SectionHeading.vue';
import ViewHeading from '@/components/ViewHeading.vue';
import { ref } from 'vue';
import { useRoute } from 'vue-router';

const breadcrumbs = [{ title: 'Workers', target: '/workers' }];

const route = useRoute();
const namespace = (route.params.namespace || '') as string;
const workerName = route.params.workerName as string;

const pastOperations = ref<DecodedOperation[]>([]);
const currentOperations = ref<DecodedOperation[]>([]);
const worker = ref<ParsedWorker | null>(null);

operations.list(namespace, 'stage = Completed & sort_order = completed_time(desc)', {
  postParseFilter: result => result.response?.result?.executionMetadata?.worker === workerName
}).then(result => {
  pastOperations.value = result.operations
});

workerApi.list(namespace, workerName, 1, 1).then(result => {
  if (result.workers.length > 0) {
    worker.value = result.workers[0];
    const promises = worker.value.operations.map(operationName => operations.get(namespace, operationName));
    Promise.all(promises).then(results => currentOperations.value = results)
  }
});
</script>

<template>
  <LayoutWide>
    <header>
      <Breadcrumbs :crumbs="breadcrumbs" />
      <ViewHeading>{{ workerName }}</ViewHeading>
    </header>
    <MultiColumn class="content-area">
      <div class="column-narrow">
        <div class="row">
          <span class="muted">Status</span>
          <span>{{ botStatusName(worker?.botStatus) }}</span>
        </div>
        <div
          class="row"
          v-if="worker?.lastUpdated"
        >
          <span class="muted">Last updated</span>
          <DateTime :milliseconds="worker.lastUpdated.getTime()" />
        </div>
        <div
          class="row"
          v-if="worker?.expiryTime"
        >
          <span class="muted">Expiry time</span>
          <DateTime :milliseconds="worker.expiryTime.getTime()" />
        </div>
        <div class="row">
          <span class="muted">Current Bot Session</span>
          <span>{{ worker?.sessionName }}</span>
        </div>
      </div>
      <div class="column-wide">
        <SectionHeading>Current operations</SectionHeading>
        <OperationsList
          v-if="currentOperations.length"
          :operations="currentOperations"
          :show-counters="false"
          :show-total="false"
        />
        <p
          class="muted"
          v-else
        >
          Worker {{ worker?.workerName }} is not currently executing any operations.
        </p>
        <SectionHeading>Recently completed operations</SectionHeading>
        <OperationsList
          v-if="pastOperations.length"
          :operations="pastOperations"
          :show-counters="false"
          :show-total="false"
        />
        <EmptyView v-else>
          No operations found
        </EmptyView>
      </div>
    </MultiColumn>
  </LayoutWide>
</template>


<style lang="scss" scoped>
.worker-invocations {
  border-collapse: collapse;

  .worker-name {
    font-family: monospace;
  }
}

header {
  padding: 0 4rem;
  margin: 1rem 0 0 0;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  span {
    margin: 0.125rem 0;
  }

  &:first-of-type {
    margin-top: 0;

    span {
      margin-top: 0;
    }
  }
}

.content-area {
  padding: 1rem 4rem;
  background-color: var(--color-bg-bottom);
  box-shadow: 0 0.125rem .5rem rgba(0, 0, 0, .05) inset;
}

:deep(h2) {
  margin-bottom: 1rem;

  &:first-of-type {
    margin-top: 0;
  }
}
</style>
