<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { useRoute } from 'vue-router';

import workerApi, { ParsedListWorkersResponse, ParsedWorker } from '@/apis/workers';
import Breadcrumbs from '@/components/Breadcrumbs.vue';
import EmptyView from '@/components/EmptyView.vue';
import LayoutWide from '@/components/LayoutWide.vue';
import MultiColumn from '@/components/MultiColumn.vue';
import PaginationControls from '@/components/PaginationControls.vue';
import SearchInput from '@/components/SearchInput.vue';
import ViewHeading from '@/components/ViewHeading.vue';
import WorkerListItem from '@/components/WorkerListItem.vue';
import axios, { AxiosError } from 'axios';

const error = ref<Error | null>(null);
const filter = ref<string>('');
const loading = ref<boolean>(true);
const requestError = ref<AxiosError | null>(null);
const workers = ref<ParsedWorker[]>([]);
const page = ref<number>(1);

const pageSize = 25;
let total = 0;

const decodedStatusText = computed(() => requestError.value?.response?.statusText ? decodeURI(requestError.value?.response?.statusText) : '')

const route = useRoute();
const namespace = (route.params.namespace || '') as string;

function reloadWorkers() {
  loading.value = true;
  workerApi.list(namespace, filter.value, page.value, pageSize).then((response: ParsedListWorkersResponse) => {
    workers.value = response.workers;
    total = response.total;
  }).catch((err) => {
    workers.value = [];
    if (axios.isAxiosError(err)) {
      requestError.value = err;
    } else {
      error.value = err;
    }
  }).finally(() => {
    loading.value = false;
  })
}

watch(filter, reloadWorkers);
watch(page, reloadWorkers);

reloadWorkers();

const firstPage = () => page.value = 1;
const nextPage = () => page.value += 1;
const prevPage = () => page.value -= 1;
</script>

<template>
  <LayoutWide>
    <header>
      <Breadcrumbs />
      <ViewHeading>Workers</ViewHeading>
      <SearchInput
        class="filter-input"
        v-model="filter"
        prompt="Search Workers..."
      />
    </header>

    <MultiColumn class="content-area">
      <div class="column-narrow sticky">
        <div class="card">
          <PaginationControls
            class="pagination"
            :current-page="page"
            :have-previous-page="page > 1"
            :have-next-page="total > page * pageSize"
            @jump-to-first="firstPage"
            @jump-to-next="nextPage"
            @jump-to-previous="prevPage"
          ></PaginationControls>
        </div>
      </div>
      <ul
        class="column-wide"
        v-if="workers.length > 0 && !loading"
      >
        <li
          v-for="worker in workers"
          :key="worker.workerName"
        >
          <router-link :to="`worker/${worker.workerName}`">
            <WorkerListItem :worker="worker" />
          </router-link>
        </li>
      </ul>
      <EmptyView
        class="column-wide"
        v-else-if="loading"
      >
        Loading...
      </EmptyView>

      <EmptyView
        class="column-wide"
        v-else-if="error"
      >
        <template
          v-if="error"
          #default
        >
          {{ error.message }}
        </template>
        <template
          v-if="requestError?.response"
          #details
        >
          {{ decodedStatusText }}
        </template>
      </EmptyView>
      <EmptyView
        class="column-wide"
        v-else
      >
        No workers {{ filter ? 'matching "' + filter + '"' : '' }} found.
      </EmptyView>
    </MultiColumn>
  </LayoutWide>
</template>

<style scoped lang="scss">
header {
  padding: 0 4rem;
  margin: 1rem 0 0 0;
}

.filter-input {
  margin-bottom: 1em;
}

.card {
  background-color: var(--color-bg);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .1);
}

.content-area {
  padding: 1rem 4rem;
  background-color: var(--color-bg-bottom);
  box-shadow: 0 0.125rem .5rem rgba(0, 0, 0, .05) inset;
}

.pagination {
  padding: 0.5em;
}

ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0 0 2rem 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
  }
}

a {
  display: block;
  text-decoration: none;

  &:hover {
    background-color: var(--color-bg-bottom);
  }

  &:hover :deep(p.primary) {
    text-decoration: underline;
    color: var(--color-link-hover);
  }

  &:hover svg {
    color: var(--color-link-hover);
    background-color: var(--color-bg-top);
  }

  span {
    margin-right: 0.5rem;
  }
}
</style>
