<script setup lang="ts">
import { DecodedAction, DecodedActionResult } from '@/apis/actions';
import operations, { DecodedOperation } from '@/apis/operations';
import DirectoryTree from '@/components/DirectoryTree.vue';
import TreeViewNode from '@/components/TreeViewNode.vue';
import { Directory } from '@/protos/build/bazel/remote/execution/v2/remote_execution';
import { DirectoryView, getDirectoryView } from '@/utils/directories';
import { ChevronDownIcon, ChevronRightIcon, FolderIcon, FolderOpenIcon } from '@heroicons/vue/outline';
import { computed, ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';

interface Props {
  action?: DecodedAction;
  result?: DecodedActionResult;
  root?: Directory;
  operationsList: DecodedOperation[];
}
const props = defineProps<Props>();

const outputs = computed(() => {
  if (!props.result) {
    return undefined;
  } else {
    return {
      directories: props.result.outputDirectories,
      symlinks: props.result.outputSymlinks,
      files: props.result.outputFiles
    };
  }
});

const hasInputs = computed(() => {
  return props.root !== undefined && (
    props.root.directories.length > 0 ||
    props.root.symlinks.length > 0 ||
    props.root.files.length > 0
  );
});

const hasOutputs = computed(() => {
  return outputs.value !== undefined && (
    outputs.value.directories.length > 0 ||
    outputs.value.symlinks.length > 0 ||
    outputs.value.files.length > 0
  );
});

const router = useRouter();
const route = useRoute();
const namespace = route.params.namespace as string || "";

const openInputs = () => {
  if (props.action?.inputRootDigest) {
    const url = router.resolve({
      name: 'Directory',
      params: {
        namespace,
        hash: props.action.inputRootDigest.hash,
        sizeBytes: Number(props.action.inputRootDigest.sizeBytes)
      }
    });
    window.open(url.href, '_blank');
  }
};

const inputDirectoryView = ref<DirectoryView>({ directories: [], files: [], symlinks: [] });
if (props.root) {
  getDirectoryView(props.root, namespace).then(result => { inputDirectoryView.value = result });
}

const outputDirectoryView = ref<DirectoryView>({ directories: [], files: [], symlinks: [] });
if (outputs.value) {
  getDirectoryView(outputs.value, namespace).then(result => { outputDirectoryView.value = result });
}

watch(() => props.root, async () => {
  if (props.root) {
    inputDirectoryView.value = await getDirectoryView(props.root, namespace);
  }
});
watch(outputs, async () => {
  if (outputs.value) {
    outputDirectoryView.value = await getDirectoryView(outputs.value, namespace);
  }
});

const stageName = (operation: DecodedOperation) => {
  return operation ? operations.stageName(operation) : undefined
};

const stageColor = (operation: DecodedOperation) => {
  return operation ? operations.stageColor(operation) : undefined
};
</script>

<template>
  <div class="action-tree-view">
    <TreeViewNode :open="true">
      <template #icon-closed>
        <ChevronRightIcon class="link" />
      </template>
      <template #icon-open>
        <ChevronDownIcon class="link" />
      </template>
      Action

      <template #children>
        <ul>
          <li>
            <TreeViewNode :open="!operationsList.length">
              <template #icon-closed>
                <ChevronRightIcon class="link" />
              </template>
              <template #icon-open>
                <ChevronDownIcon class="link" />
              </template>
              Operations
              <template #children>
                <ul v-if="!!operationsList.length">
                  <li
                    v-for="operation in operationsList"
                    :key="operation.name"
                    class="operation"
                  >
                    <p>
                      <router-link
                        class="operation-name"
                        :to="`${namespace ? '/' : ''}${namespace}/operation/${operation.name}`"
                      >
                        {{ operation.name }}
                      </router-link>
                    </p>
                    <p
                      class="stage-name"
                      :style="{ color: stageColor(operation) }"
                    >
                      {{ stageName(operation) }}
                    </p>
                  </li>
                </ul>
                <p
                  v-else
                  class="muted"
                >
                  No operations found for this action
                </p>
              </template>
            </TreeViewNode>
          </li>
          <li v-if="root">
            <TreeViewNode
              :open="!hasInputs"
              @click.ctrl.prevent="openInputs"
            >
              <template #icon-closed>
                <FolderIcon class="link" />
              </template>
              <template #icon-open>
                <FolderOpenIcon class="link" />
              </template>
              Inputs
              <template #children>
                <DirectoryTree
                  v-if="hasInputs"
                  :root="inputDirectoryView"
                />
                <p
                  v-else
                  class="muted"
                >
                  Empty input root directory
                </p>
              </template>
            </TreeViewNode>
          </li>
          <li>
            <TreeViewNode :open="!hasOutputs">
              <template #icon-closed>
                <FolderIcon class="link" />
              </template>
              <template #icon-open>
                <FolderOpenIcon class="link" />
              </template>
              Outputs
              <template #children>
                <template v-if="!!outputs && hasOutputs && outputDirectoryView">
                  <DirectoryTree :root="outputDirectoryView" />
                </template>
                <p
                  v-else
                  class="muted"
                >
                  No outputs uploaded by the worker
                </p>
              </template>
            </TreeViewNode>
          </li>
        </ul>
      </template>
    </TreeViewNode>
  </div>
</template>

<style scoped lang="scss">
.action-tree-view {
  max-width: 20rem;
  min-width: 20rem;
  overflow: auto;
}

p {
  margin: 0.5rem 0;
}

.operation {
  white-space: nowrap;
  margin: 0 0 1rem 0;

  a {
    color: var(--color-link);

    &:hover {
      color: var(--color-link-hover);
    }
  }
}
</style>
