<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="bazel-event">
    <BazelEventBuildFinished
      v-if="finished"
      :event="finished"
    />
    <BazelEventBuildMetadata
      v-else-if="buildMetadata"
      :event="buildMetadata"
    />
    <BazelEventBuildMetrics
      v-else-if="buildMetrics"
      :id="id"
      :event="buildMetrics"
    />
    <BazelEventBuildToolLogs
      v-else-if="buildToolLogs"
      :event="buildToolLogs"
    />
    <BazelEventConfiguration
      v-else-if="configuration"
      :id="id"
      :event="configuration"
    />
    <BazelEventExpanded
      v-else-if="expanded"
      :id="id"
      :event="expanded"
    />
    <BazelEventNamedSetOfFiles
      v-else-if="namedSetOfFiles"
      :id="id"
      :event="namedSetOfFiles"
    />
    <BazelEventOptionsParsed
      v-else-if="optionsParsed"
      :event="optionsParsed"
    />
    <BazelEventProgress
      v-else-if="progress"
      :event="progress"
    />
    <BazelEventStarted
      v-else-if="started"
      :event="started"
    />
    <BazelEventStructuredCommandLine
      v-else-if="structuredCommandLine"
      :event="structuredCommandLine"
    />
    <BazelEventTargetCompleted
      v-else-if="completed"
      :id="id"
      :event="completed"
    />
    <BazelEventTargetConfigured
      v-else-if="configured"
      :id="id"
      :event="configured"
    />
    <BazelEventUnstructuredCommandLine
      v-else-if="unstructuredCommandLine"
      :event="unstructuredCommandLine"
    />
    <BazelEventWorkspace
      v-else-if="workspaceInfo"
      :event="workspaceInfo"
    />
    <BazelEventWorkspaceStatus
      v-else-if="workspaceStatus"
      :event="workspaceStatus"
    />
    <div v-else>
      {{ event }}
    </div>
  </div>
</template>

<script lang="ts">
import BazelEventBuildFinished from '@/components/BazelEvents/BazelEventBuildFinished.vue'
import BazelEventBuildMetadata from '@/components/BazelEvents/BazelEventBuildMetadata.vue'
import BazelEventBuildMetrics from '@/components/BazelEvents/BazelEventBuildMetrics.vue'
import BazelEventBuildToolLogs from '@/components/BazelEvents/BazelEventBuildToolLogs.vue'
import BazelEventTargetConfigured from '@/components/BazelEvents/BazelEventTargetConfigured.vue'
import BazelEventExpanded from '@/components/BazelEvents/BazelEventExpanded.vue'
import BazelEventNamedSetOfFiles from '@/components/BazelEvents/BazelEventNamedSetOfFiles.vue'
import BazelEventOptionsParsed from '@/components/BazelEvents/BazelEventOptionsParsed.vue'
import BazelEventProgress from '@/components/BazelEvents/BazelEventProgress.vue'
import BazelEventStarted from '@/components/BazelEvents/BazelEventStarted.vue'
import BazelEventStructuredCommandLine from '@/components/BazelEvents/BazelEventStructuredCommandLine.vue'
import BazelEventTargetCompleted from '@/components/BazelEvents/BazelEventTargetCompleted.vue'
import BazelEventConfiguration from '@/components/BazelEvents/BazelEventConfiguration.vue'
import BazelEventUnstructuredCommandLine from '@/components/BazelEvents/BazelEventUnstructuredCommandLine.vue'
import BazelEventWorkspace from '@/components/BazelEvents/BazelEventWorkspace.vue'
import BazelEventWorkspaceStatus from '@/components/BazelEvents/BazelEventWorkspaceStatus.vue'

import { BuildEvent, BuildEventId } from '@/protos/build_event_stream/build_event_stream'
import { Any } from '@/protos/google/protobuf/any'
import { defineComponent, PropType } from 'vue'

export default defineComponent({
  name: 'BazelEvent',
  components: {
    BazelEventBuildFinished,
    BazelEventBuildMetadata,
    BazelEventBuildMetrics,
    BazelEventBuildToolLogs,
    BazelEventConfiguration,
    BazelEventExpanded,
    BazelEventNamedSetOfFiles,
    BazelEventOptionsParsed,
    BazelEventProgress,
    BazelEventStarted,
    BazelEventStructuredCommandLine,
    BazelEventTargetCompleted,
    BazelEventTargetConfigured,
    BazelEventUnstructuredCommandLine,
    BazelEventWorkspace,
    BazelEventWorkspaceStatus
  },
  props: {
    packedEvent: {
      type: Object as PropType<Any>,
      default: () => null
    }
  },
  computed: {
    event () {
      return this.packedEvent ? BuildEvent.fromBinary(this.packedEvent.value) : undefined
    },
    id () {
      return (this.event ? this.event.id : null) as BuildEventId
    },
    progress () {
      return this.event && 'progress' in this.event.payload ? this.event.payload.progress : undefined
    },
    aborted () {
      return this.event && 'aborted' in this.event.payload ? this.event.payload.aborted : undefined
    },
    started () {
      return this.event && 'started' in this.event.payload ? this.event.payload.started : undefined
    },
    unstructuredCommandLine () {
      return this.event && 'unstructuredCommandLine' in this.event.payload ? this.event.payload.unstructuredCommandLine : undefined
    },
    structuredCommandLine () {
      return this.event && 'structuredCommandLine' in this.event.payload ? this.event.payload.structuredCommandLine : undefined
    },
    optionsParsed () {
      return this.event && 'optionsParsed' in this.event.payload ? this.event.payload.optionsParsed : undefined
    },
    workspaceStatus () {
      return this.event && 'workspaceStatus' in this.event.payload ? this.event.payload.workspaceStatus : undefined
    },
    fetch () {
      return this.event && 'fetch' in this.event.payload ? this.event.payload.fetch : undefined
    },
    configuration () {
      return this.event && 'configuration' in this.event.payload ? this.event.payload.configuration : undefined
    },
    expanded () {
      return this.event && 'expanded' in this.event.payload ? this.event.payload.expanded : undefined
    },
    configured () {
      return this.event && 'configured' in this.event.payload ? this.event.payload.configured : undefined
    },
    action () {
      return this.event && 'action' in this.event.payload ? this.event.payload.action : undefined
    },
    namedSetOfFiles () {
      return this.event && 'namedSetOfFiles' in this.event.payload ? this.event.payload.namedSetOfFiles : undefined
    },
    completed () {
      return this.event && 'completed' in this.event.payload ? this.event.payload.completed : undefined
    },
    testResult () {
      return this.event && 'testResult' in this.event.payload ? this.event.payload.testResult : undefined
    },
    testSummary () {
      return this.event && 'testSummary' in this.event.payload ? this.event.payload.testSummary : undefined
    },
    targetSummary () {
      return this.event && 'targetSummary' in this.event.payload ? this.event.payload.targetSummary : undefined
    },
    finished () {
      return this.event && 'finished' in this.event.payload ? this.event.payload.finished : undefined
    },
    buildToolLogs () {
      return this.event && 'buildToolLogs' in this.event.payload ? this.event.payload.buildToolLogs : undefined
    },
    buildMetrics () {
      return this.event && 'buildMetrics' in this.event.payload ? this.event.payload.buildMetrics : undefined
    },
    workspaceInfo () {
      return this.event && 'workspaceInfo' in this.event.payload ? this.event.payload.workspaceInfo : undefined
    },
    buildMetadata () {
      return this.event && 'buildMetadata' in this.event.payload ? this.event.payload.buildMetadata : undefined
    },
    convenienceSymlinksIdentified () {
      return this.event && 'convenienceSymlinksIdentified' in this.event.payload ? this.event.payload.convenienceSymlinksIdentified : undefined
    }
  }
})
</script>

<style lang="scss" scoped>
.bazel-event {
  :deep(.build-event-details) {
    .build-event-title {
      font-size: 1.2rem;
    }

    .row {
      margin: 1rem 0;
    }

    p {
      margin: 0;
    }

    .code,
    .inline-code {
      font-family: 'Roboto Mono';
      padding: 1.25rem;
      border-radius: 1rem;
      background-color: var(--color-code-bg);
      color: var(--color-code-text);
      font-size: 1rem;

      pre {
        overflow-x: auto;
        padding: 0;
        margin: 0;
      }
    }

    .inline-code {
      padding: 0.25rem 1rem;
      display: inline-block;
    }

    .flex {
      display: flex;
      align-items: baseline;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0.1rem 0;
        font-family: 'Roboto Mono';
        font-size: 1rem;
        margin: 0;
      }
    }

    .muted {
      font-size: 1rem;
      color: var(--color-text-muted);
    }

    a.display-toggle {
      @extend .muted;
      cursor: pointer;
      margin-left: 2rem;

      &:hover {
        color: var(--color-link);
        box-shadow: 0 -2px 0 var(--color-link) inset;
      }
    }
  }
}
</style>
