<template>
  <nav class="breadcrumbs">
    <span
      v-for="crumb in allCrumbs"
      :key="crumb.target"
    >
      <router-link
        v-if="crumb.target"
        :to="crumb.target"
      >{{ crumb.title }}</router-link>
      <span v-else>{{ crumb.title }}</span>
      <ChevronRightIcon />
    </span>
  </nav>
</template>

<script lang="ts">
import { ChevronRightIcon } from '@heroicons/vue/solid'
import { defineComponent, PropType } from 'vue'

export default defineComponent({
  name: 'Breadcrumbs',
  components: {
    ChevronRightIcon
  },
  props: {
    crumbs: {
      type: Array as PropType<{ title: string; target: string }[]>,
      default: () => []
    }
  },
  computed: {
    namespace () {
      return (this.$route.params.namespace || '') as string
    },
    allCrumbs () {
      let crumbs = [{ title: 'BuildGrid', target: '/' }]
      if (this.namespace) {
        crumbs = crumbs.concat([{ title: this.namespace.toUpperCase(), target: `/${this.namespace}` }])
        crumbs = crumbs.concat(this.crumbs.map(c => { return { title: c.title, target: `/${this.namespace}${c.target}` } }))
      } else {
        crumbs = crumbs.concat(this.crumbs)
      }
      return crumbs
    }
  }
})
</script>

<style lang="scss" scoped>
  .breadcrumbs {
    display: flex;
    align-items: center;
    margin: 0 0 6px 0;
    color: var(--color-breadcrumbs);

    span {
      display: flex;
      align-items: center;
    }

    a {
      color: var(--color-breadcrumbs);
      text-decoration: none;

      &:hover {
        color: var(--color-link);
        box-shadow: 0 -2px 0 var(--color-link) inset;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
</style>
