<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="build-event">
    <p class="build-event-timestamp">
      <DateTime
        :milliseconds="timestamp"
        :show-milliseconds="true"
      />
    </p>

    <div
      v-if="bazelEvent"
      class="build-event-details"
    >
      <BazelEvent :packed-event="bazelEvent" />
    </div>

    <div
      v-else-if="buildEnqueued"
      class="build-event-details"
    >
      <div class="build-event-title">
        Build enqueued
      </div>
    </div>

    <div
      v-else-if="invocationAttemptStarted"
      class="build-event-details"
    >
      <div class="build-event-title">
        Invocation attempt started, attempts: {{ invocationAttemptStarted.attemptNumber }}
      </div>
    </div>

    <div
      v-else-if="componentStreamFinished"
      class="build-event-details"
    >
      <div class="build-event-title">
        Component event stream finished
      </div>
    </div>

    <div
      v-else-if="invocationAttemptFinished"
      class="build-event-details"
    >
      <div class="build-event-title">
        Invocation attempt finished {{ invocationAttemptFinished.invocationStatus }}
      </div>
    </div>

    <div
      v-else-if="buildFinished"
      class="build-event-details"
    >
      <div class="build-event-title">
        Build finished, {{ buildFinished.status }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { OrderedBuildEvent } from '@/protos/google/devtools/build/v1/publish_build_event'

import BazelEvent from '@/components/BazelEvent.vue'
import DateTime from '@/components/DateTime.vue'

export default defineComponent({
  name: 'BuildEvent',
  components: {
    BazelEvent,
    DateTime
  },
  props: {
    event: {
      type: Object as PropType<OrderedBuildEvent>,
      default: () => null
    }
  },
  computed: {
    eventObject () {
      return this.event.event?.event
    },
    invocationAttemptStarted () {
      return this.eventObject && 'invocationAttemptStarted' in this.eventObject ? this.eventObject.invocationAttemptStarted : undefined
    },
    invocationAttemptFinished () {
      return this.eventObject && 'invocationAttemptFinished' in this.eventObject ? this.eventObject.invocationAttemptFinished : undefined
    },
    buildEnqueued () {
      return this.eventObject && 'buildEnqueued' in this.eventObject ? this.eventObject.buildEnqueued : undefined
    },
    buildFinished () {
      return this.eventObject && 'buildFinished' in this.eventObject ? this.eventObject.buildFinished : undefined
    },
    consoleOutput () {
      return this.eventObject && 'consoleOutput' in this.eventObject ? this.eventObject.consoleOutput : undefined
    },
    componentStreamFinished () {
      return this.eventObject && 'componentStreamFinished' in this.eventObject ? this.eventObject.componentStreamFinished : undefined
    },
    bazelEvent () {
      return this.eventObject && 'bazelEvent' in this.eventObject ? this.eventObject.bazelEvent : undefined
    },
    buildExecutionEvent () {
      return this.eventObject && 'buildExecutionEvent' in this.eventObject ? this.eventObject.buildExecutionEvent : undefined
    },
    sourceFetchEvent () {
      return this.eventObject && 'sourceFetchEvent' in this.eventObject ? this.eventObject.sourceFetchEvent : undefined
    },
    timestamp () {
      let ms = 0
      if (this.event?.event?.eventTime) {
        ms = Number(this.event.event.eventTime.seconds) * 1000
        ms += this.event.event.eventTime.nanos * 0.000001
      }
      return ms
    }
  }
})
</script>

<style lang="scss" scoped>

.build-event {
  margin: 2rem 0;

  .build-event-timestamp {
    margin: 0;
    color: var(--color-text-muted);
  }

  .build-event-title {
    margin: 0;
    font-size: 1.2rem;
  }
}

</style>
