<!--
  Copyright 2024 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script setup lang="ts">
import { RequestMetadata } from '@/protos/build/bazel/remote/execution/v2/remote_execution';
import { computed } from 'vue';
import { useRoute } from 'vue-router';

import SectionHeading from '@/components/SectionHeading.vue';

interface Props {
  requestMetadata: RequestMetadata;
}
const props = defineProps<Props>();

const route = useRoute();

const namespace = route.params.namespace || '' as string;

const correlatedInvocationsRoute = computed(() => {
  return {
    name: 'Correlated Invocations',
    params: { namespace: namespace, correlationId: props.requestMetadata.correlatedInvocationsId }
  }
});
const toolInvocationRoute = computed(() => {
  return {
    name: 'Tool Invocation',
    params: { namespace: namespace, toolInvocationId: props.requestMetadata.toolInvocationId }
  }
});
</script>

<template>
  <SectionHeading>Request Metadata</SectionHeading>
  <dl>
    <dt v-if="requestMetadata.actionId">
      Action
    </dt>
    <dd v-if="requestMetadata.actionId">
      <router-link
        class="value"
        :to="`${namespace}/action/${requestMetadata.actionId}`"
      >
        {{ requestMetadata.actionId }}
      </router-link>
    </dd>

    <dt v-if="requestMetadata.toolDetails?.toolName">
      Tool Name
    </dt>
    <dd v-if="requestMetadata.toolDetails?.toolName">
      {{ requestMetadata.toolDetails.toolName }}
    </dd>

    <dt v-if="requestMetadata.toolDetails?.toolVersion">
      Tool Version
    </dt>
    <dd v-if="requestMetadata.toolDetails?.toolVersion">
      {{ requestMetadata.toolDetails.toolVersion }}
    </dd>

    <dt v-if="requestMetadata.toolInvocationId">
      Invocation ID
    </dt>
    <dd v-if="requestMetadata.toolInvocationId">
      <router-link
        class="value"
        :to="toolInvocationRoute"
      >
        {{ requestMetadata.toolInvocationId }}
      </router-link>
    </dd>

    <dt v-if="requestMetadata.correlatedInvocationsId">
      Correlated Invocations ID
    </dt>
    <dd v-if="requestMetadata.correlatedInvocationsId">
      <router-link
        class="value"
        :to="correlatedInvocationsRoute"
      >
        {{ requestMetadata.correlatedInvocationsId }}
      </router-link>
    </dd>

    <dt v-if="requestMetadata.actionMnemonic">
      Action Mnemonic
    </dt>
    <dd v-if="requestMetadata.actionMnemonic">
      {{ requestMetadata.actionMnemonic }}
    </dd>

    <dt v-if="requestMetadata.targetId">
      Target ID
    </dt>
    <dd v-if="requestMetadata.targetId">
      {{ requestMetadata.targetId }}
    </dd>

    <dt v-if="requestMetadata.configurationId">
      Configuration ID
    </dt>
    <dd v-if="requestMetadata.configurationId">
      {{ requestMetadata.configurationId }}
    </dd>
  </dl>
</template>

<style lang="scss" scoped>
a {
  text-decoration: none;
  transition: 100ms ease-in-out all;
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
    box-shadow: 0 -1px 0 var(--color-link-hover) inset;
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: 300;
}

dl {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;

  dt {
    color: var(--color-text-muted);
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 1rem 0 0.25rem 0;

    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    margin: 0;
    padding: 0;
  }
}
</style>
