<script setup lang="ts">
import { ClientIdentity } from '@/protos/buildgrid/v2/identity';

interface Props {
  identity: ClientIdentity;
}

defineProps<Props>();
</script>

<template>
  <ul
    v-if="identity.actor || identity.subject || identity.workflow"
    class="metadata"
  >
    <li
      v-if="identity.actor"
      class="split-pill"
    >
      <span class="pill-title">Actor</span>
      <span class="pill-content">{{ identity.actor }}</span>
    </li>
    <li
      v-if="identity.subject"
      class="split-pill"
    >
      <span class="pill-title">Subject</span>
      <span class="pill-content">{{ identity.subject }}</span>
    </li>
    <li
      v-if="identity.workflow"
      class="split-pill"
    >
      <span class="pill-title">Workflow</span>
      <span class="pill-content">{{ identity.workflow }}</span>
    </li>
  </ul>
</template>

<style lang="scss">
.metadata {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.split-pill {
  margin: 0 0.75rem 0.75rem 0;

  &:last-child {
    margin-right: 0;
  }

  span {
    padding: 0.5rem 1rem;
    display: inline-block;
  }

  .pill-title {
    background-color: var(--color-grey-light);
    color: var(--color-grey-dark);
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .pill-content {
    background-color: var(--color-grey);
    color: var(--color-white);
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: 0 -0.2rem .4rem rgba(0, 0, 0, .1) inset;
  }
}
</style>
