<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <SectionHeading>Environment</SectionHeading>
  <p
    v-if="!hasEnvironmentVariables"
    class="muted"
  >
    No environment variables in command.
  </p>
  <dl v-if="hasEnvironmentVariables">
    <template
      v-for="envvar in command?.environmentVariables"
      :key="envvar.name"
    >
      <dt>{{ envvar.name }}</dt>
      <dd>{{ envvar.value }}</dd>
    </template>
  </dl>

  <SectionHeading>Platform</SectionHeading>
  <p
    v-if="!platformProperties.length"
    class="muted"
  >
    No platform properties specified.
  </p>
  <dl v-if="platformProperties.length">
    <template
      v-for="prop in platformProperties"
      :key="prop.name"
    >
      <dt>{{ prop.name }}</dt>
      <dd>{{ prop.value }}</dd>
    </template>
  </dl>
</template>

<script lang="ts">

import SectionHeading from '@/components/SectionHeading.vue';
import { Action, Command } from '@/protos/build/bazel/remote/execution/v2/remote_execution';
import { PropType, defineComponent } from 'vue';

export default defineComponent({
  name: 'CommandMetadata',
  components: { SectionHeading },
  props: {
    action: {
      type: Object as PropType<Action>
    },
    command: {
      type: Object as PropType<Command>
    }
  },
  computed: {
    hasEnvironmentVariables() {
      return (this.command?.environmentVariables.length || 0) > 0;
    },
    platformProperties() {
      let props = this.action?.platform?.properties;
      if (!props || props.length == 0) {
        props = this.command?.platform?.properties || [];
      }
      return props;
    }
  }
})
</script>

<style lang="scss" scoped>
h3 {
  font-size: 1.25rem;
  font-weight: 300;
}

dl {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;

  dt {
    color: var(--color-text-muted);
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 1rem 0 0.25rem 0;

    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    margin: 0;
    padding: 0;
  }
}
</style>
