<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div v-if="eventStreams.length > 0">
    <div
      v-for="stream in eventStreams"
      :key="stream.streamId?.buildId"
      class="build-event-stream"
    >
      <SectionHeading>{{ renderStreamId(stream) }}</SectionHeading>
      <div class="stream-events">
        <BuildEvent
          v-for="event in stream.events"
          :key="event.event?.eventTime?.seconds.toString()"
          :event="event"
        />
      </div>
    </div>
  </div>
  <EmptyView v-else>
    No build events found for this Correlated Invocation ID
  </EmptyView>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import { listStreams } from '@/apis/buildEvents'
import { QueryEventStreamsResponse_BuildEventStream as BuildEventStream } from '@/protos/buildgrid/v2/query_build_events'
import {
  StreamId_BuildComponent as BuildComponent
} from '@/protos/google/devtools/build/v1/build_events'

import BuildEvent from '@/components/BuildEvent.vue'
import EmptyView from '@/components/EmptyView.vue'
import SectionHeading from '@/components/SectionHeading.vue'

export default defineComponent({
  name: 'CorrelatedInvocationsTabBuildEvents',
  components: {
    BuildEvent,
    SectionHeading,
    EmptyView
  },
  props: {
    correlationId: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      eventStreams: [] as BuildEventStream[]
    }
  },
  computed: {
    namespace() {
      return (this.$route.params.namespace || '') as string
    }
  },
  created() {
    this.fetchBuildEvents()
  },
  methods: {
    async fetchBuildEvents() {
      const response = await listStreams(this.namespace, `${this.correlationId}\\..*\\..*`)
      this.eventStreams = response.streams
    },
    renderStreamId(stream: BuildEventStream) {
      const invocationId = stream.streamId?.invocationId
      const component = stream.streamId?.component

      let componentName = 'Unknown Component'
      if (component === BuildComponent.CONTROLLER) {
        componentName = 'Controller'
      } else if (component === BuildComponent.WORKER) {
        componentName = 'Worker'
      } else if (component === BuildComponent.TOOL) {
        componentName = 'Tool'
      }
      if (invocationId) {
        return `${componentName} stream for invocation ${invocationId}`
      } else {
        return `${componentName} stream for correlated invocations`
      }
    }
  }
})
</script>

<style lang="scss" scoped>
.build-event-stream {
  padding: 0.75rem 0;

  &:first-child {
    padding-top: 0;
  }

  .stream-events {
    position: relative;
    padding-left: 5rem;

    &::before {
      content: "";
      width: 0.25rem;
      top: 1.25rem;
      bottom: 1.25rem;
      left: 1.75rem;
      position: absolute;
      background: var(--color-timeline-line);
    }

    .build-event {
      padding: 1rem 0 0 0;
      position: relative;

      &::before {
        content: "";
        width: 2.5rem;
        height: 2.5rem;
        background: var(--color-timeline-entry);
        border-radius: 1.25rem;
        left: -70px;
        top: 1rem;
        position: absolute;
      }
    }
  }
}
</style>
