<script setup lang="ts">

import { DirectoryView } from '@/utils/directories';
import { ArrowSmRightIcon } from '@heroicons/vue/solid';
import DirectoryTreeDirectoryNode from './DirectoryTreeDirectoryNode.vue';
import DirectoryTreeFileNode from './DirectoryTreeFileNode.vue';

interface Props {
  root: DirectoryView;
}

defineProps<Props>();
</script>

<template>
  <ul>
    <li
      v-for="directory in root.directories"
      :key="directory.name"
    >
      <DirectoryTreeDirectoryNode :dir="directory" />
    </li>
    <li
      v-for="file in root.files"
      :key="file.name"
    >
      <DirectoryTreeFileNode :file="file" />
    </li>
    <li
      v-for="symlink in root.symlinks"
      :key="symlink.name"
    >
      <button>
        <ArrowSmRightIcon />
        <div>
          {{ symlink.name }} -&gt; {{ symlink.target }}
        </div>
      </button>
    </li>
  </ul>
</template>
