<script setup lang="ts">
import TreeViewNode from '@/components/TreeViewNode.vue';
import { DirectoryTreeNode, DirectoryView, getDirectoryView } from '@/utils/directories';
import { FolderIcon, FolderOpenIcon } from '@heroicons/vue/outline';
import { ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import DirectoryTree from './DirectoryTree.vue';

interface Props {
  dir: DirectoryTreeNode;
}
const props = defineProps<Props>();

const router = useRouter();
const route = useRoute();
const namespace = route.params.namespace as string || "";

const directoryView = ref<DirectoryView>({
  directories: [],
  files: [],
  symlinks: []
});
if (props.dir.proto) {
  getDirectoryView(props.dir.proto, namespace).then(directory => {
    directoryView.value = directory;
  });
}

const navigateToDirectory = () => {
  if (props.dir.digest) {
    const url = router.resolve({
      name: 'Directory',
      params: {
        namespace,
        hash: props.dir.digest.hash,
        sizeBytes: Number(props.dir.digest.sizeBytes)
      }
    });
    window.open(url.href, '_blank');
  }
}
</script>

<template>
  <TreeViewNode @click.ctrl.prevent="navigateToDirectory">
    <template #icon-closed>
      <FolderIcon class="link" />
    </template>
    <template #icon-open>
      <FolderOpenIcon class="link" />
    </template>
    {{ dir.name }}

    <template #children>
      <DirectoryTree :root="directoryView" />
    </template>
  </TreeViewNode>
</template>
