<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <table class="directory-listing">
    <tr>
      <th>Mode</th>
      <th>Size</th>
      <th class="filename">
        Name
      </th>
    </tr>

    <tr
      v-for="dir in listDirectories()"
      :key="dir.digest.hash"
    >
      <td class="mode">
        drwxr-xr-x
      </td>
      <td>
        <SizeBytes :size="dir.digest?.sizeBytes" />
      </td>
      <td class="filename">
        <router-link :to="directoryTarget(dir)">
          {{ dir.path }}
        </router-link>/
      </td>
    </tr>

    <tr
      v-for="symlink in listSymlinks()"
      :key="symlink.path"
    >
      <td class="mode">
        lrwxrwxrwx
      </td>
      <td />
      <td class="filename">
        {{ symlink.path }} -&gt; {{ symlink.target }}
      </td>
    </tr>

    <tr
      v-for="file in listFiles()"
      :key="file.digest.hash"
    >
      <td class="mode">
        -rw{{ file.isExecutable ? 'x' : '-' }}r-{{ file.isExecutable ? 'x' : '-' }}r-{{ file.isExecutable ? 'x' : '-' }}
      </td>
      <td>
        <SizeBytes :size="file.digest.sizeBytes" />
      </td>
      <td
        v-if="isPreviewable(file)"
        class="filename"
      >
        <router-link :to="fileTarget(file)">
          {{ file.path }}
        </router-link>
      </td>
      <td v-else>
        <a :href="getDownloadUrl(file)">{{ file.path }}</a>
      </td>
    </tr>
  </table>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

import binaryExtensions from 'binary-extensions';

import { getConfig } from '@/apis/base';
import SizeBytes from '@/components/SizeBytes.vue';
import { Digest, DirectoryNode, FileNode, OutputDirectory, OutputFile, OutputSymlink, SymlinkNode } from '@/protos/build/bazel/remote/execution/v2/remote_execution';

interface DirView {
  digest: Digest;
  path: string;
}

interface FileView {
  digest: Digest;
  path: string;
  isExecutable: boolean;
}

interface SymlinkView {
  target: string;
  path: string;
}

export default defineComponent({
  name: 'DirectoryListing',
  components: {
    SizeBytes
  },
  props: {
    directories: {
      type: Array as PropType<OutputDirectory[] | DirectoryNode[]>,
      default: () => []
    },
    directoryRouteBase: {
      type: String,
      default: 'directory'
    },
    files: {
      type: Array as PropType<OutputFile[] | FileNode[]>,
      default: () => []
    },
    symlinks: {
      type: Array as PropType<OutputSymlink[] | SymlinkNode[]>,
      default: () => []
    }
  },
  computed: {
    namespace() {
      return this.$route.params.namespace as string || ''
    }
  },
  methods: {
    getDownloadUrl(file: FileView) {
      const config = getConfig(this.namespace)
      return `${config.backendUrl}/api/v1/blobs/${file.digest.hash}/${file.digest.sizeBytes}`
    },
    isPreviewable(file: FileView) {
      const name = file.path.split('/').at(-1) || ''
      const extension = name.split('.').at(-1)
      return !!extension && binaryExtensions.indexOf(extension) === -1
    },
    listDirectories(): DirView[] {
      return this.directories.map(dir => {
        if ('treeDigest' in dir) {
          const outDir = dir
          return {
            digest: outDir.treeDigest as Digest,
            path: outDir.path
          }
        } else {
          const nodeDir = dir as DirectoryNode
          return {
            digest: nodeDir.digest as Digest,
            path: nodeDir.name
          }
        }
      })
    },
    listFiles(): FileView[] {
      return this.files.map(file => {
        if ('path' in file) {
          const outFile = file
          return {
            digest: outFile.digest as Digest,
            path: outFile.path,
            isExecutable: outFile.isExecutable
          }
        } else {
          const nodeFile = file
          return {
            digest: nodeFile.digest as Digest,
            path: nodeFile.name,
            isExecutable: nodeFile.isExecutable
          }
        }
      })
    },
    listSymlinks(): SymlinkView[] {
      return this.symlinks.map(symlink => {
        if ('path' in symlink) {
          const outSymlink = symlink
          return {
            target: outSymlink.target,
            path: outSymlink.path
          }
        } else {
          const nodeSymlink = symlink
          return {
            target: nodeSymlink.target,
            path: nodeSymlink.name
          }
        }
      })
    },
    directoryTarget(dir: DirView) {
      const digest = dir.digest
      const url = `/${this.directoryRouteBase}/${digest.hash}/${digest.sizeBytes}`
      return this.namespace ? `/${this.namespace}${url}` : url
    },
    fileTarget(file: FileView) {
      const url = `/file/${file.digest.hash}/${file.digest.sizeBytes}`
      return this.namespace ? `/${this.namespace}${url}` : url
    }
  }
})
</script>

<style lang="scss" scoped>
.directory-listing {
  border-collapse: collapse;
  margin-top: 1rem;

  td,
  th {
    padding: 0.5rem 1rem;
    min-width: 150px;
    text-align: left;
  }

  th {
    color: var(--color-text-muted);
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  .mode {
    font-family: 'Roboto Mono';
  }

  .filename {
    width: 100%;
  }

  tr:nth-of-type(even) {
    background-color: var(--color-grey-light);
  }

  a {
    text-decoration: none;
    transition: 100ms ease-in-out all;
    color: var(--color-link);

    &:hover {
      color: var(--color-link-hover);
      box-shadow: 0 -1px 0 var(--color-link-hover) inset;
    }
  }
}
</style>
