<script setup lang="ts">
import SizeBytes from '@/components/SizeBytes.vue';
import { FileTreeNode } from '@/utils/directories';
import { DocumentIcon } from '@heroicons/vue/outline';
import { computed } from 'vue';
import { useRoute } from 'vue-router';

interface Props {
  file: FileTreeNode;
}

const props = defineProps<Props>();

const route = useRoute();
const namespace = route.params.namespace || "";
const target = computed(() => {
  if (!props.file.digest) {
    return undefined;
  }
  const url = `/file/${props.file.digest.hash}/${props.file.digest.sizeBytes}`
  return namespace ? `/${namespace}${url}` : url
})
</script>

<template>
  <router-link
    v-if="target"
    :to="target"
  >
    <DocumentIcon class="link" />
    <div>
      <p>{{ file.name }}</p>
      <SizeBytes
        v-if="file.digest"
        class="muted"
        :size="file.digest.sizeBytes"
      />
    </div>
  </router-link>

  <div v-else>
    <DocumentIcon />
    <div>
      <p>{{ file.name }}</p>
      <SizeBytes
        v-if="file.digest"
        class="muted"
        :size="file.digest.sizeBytes"
      />
    </div>
  </div>
</template>

<style scoped lang="scss">
svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

a {
  display: inline-flex;
  text-decoration: none;
  transition: 100ms ease-in-out all;
  align-items: center;
  color: var(--color-text);

  & .link {
    color: var(--color-link);
  }

  &:hover {
    color: var(--color-link);

    & .link,
    p {
      text-decoration: underline;
    }
  }

  p {
    padding: 0;
    margin: 0;
  }
}
</style>
