<!--
  Copyright 2021 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div
    class="execution-statistics"
  >
    <div v-if="stats">
      <h3 class="stats-information-header">
        Process usage
        <span title="Values returned by `getrusage(2)`">
          <InformationCircleIcon />
        </span>
      </h3>
      <div class="grid">
        <div class="card">
          <h4>Time</h4>
          <dl>
            <dt>User</dt>
            <dd>{{ durationString(stats?.commandRusage?.utime) }} s</dd>
            <dt>System</dt>
            <dd>{{ durationString(stats?.commandRusage?.stime) }} s</dd>
          </dl>
        </div>
        <div class="card">
          <h4>Memory</h4>
          <dl>
            <dt>Max. resident set size</dt>
            <dd>{{ stats?.commandRusage?.maxrss }} kB</dd>
            <dt>Page reclaims</dt>
            <dd>{{ stats?.commandRusage?.minflt }}</dd>
            <dt>Page faults (I/O)</dt>
            <dd>{{ stats?.commandRusage?.majflt }}</dd>
          </dl>
        </div>
        <div class="card">
          <h4>FS blocking-operations</h4>
          <dl>
            <dt>Input</dt>
            <dd>{{ stats?.commandRusage?.inblock }} </dd>
            <dt>Output</dt>
            <dd>{{ stats?.commandRusage?.oublock }} </dd>
          </dl>
        </div>
        <div class="card">
          <h4>Context switches</h4>
          <dl>
            <dt>Voluntary</dt>
            <dd>{{ stats?.commandRusage?.nvcsw }} </dd>
            <dt>Involuntary</dt>
            <dd>{{ stats?.commandRusage?.nivcsw }} </dd>
          </dl>
        </div>
      </div>
    </div>
    <p
      v-else-if="auxiliaryMetadataList.length > 0"
      class="muted"
    >
      Execution stats couldn't be fetched from CAS.
    </p>
    <p
      v-else
      class="muted"
    >
      Worker didn't report any execution statistics.
    </p>
  </div>
</template>

<script lang="ts">
import { InformationCircleIcon } from '@heroicons/vue/outline'

import bytestream from '@/apis/bytestream'

import {
  Digest
} from '@/protos/build/bazel/remote/execution/v2/remote_execution'

import {
  ExecutionStatistics
} from '@/protos/build/buildbox/execution_stats'
import { Duration } from '@/protos/google/protobuf/duration'
import { defineComponent, PropType } from 'vue'
import { Any } from '@/protos/google/protobuf/any'

export default defineComponent({
  name: 'ExecutionStats',
  components: {
    InformationCircleIcon
  },
  props: {
    auxiliaryMetadataList: {
      type: Array as PropType<Any[]>,
      default: () => []
    }
  },
  data () {
    return {
      stats: null as ExecutionStatistics | null
    }
  },
  computed: {
    namespace () {
      return (this.$route.params.namespace || '') as string
    }
  },
  created () {
    this.fetchStats()
  },
  methods: {
    async fetchStats () {
      const DIGEST_TYPE_URL = 'type.googleapis.com/build.bazel.remote.execution.v2.Digest'
      const EXECUTION_STATS_TYPE_URL = 'type.googleapis.com/build.buildbox.ExecutionStatistics'

      for (const entry of this.auxiliaryMetadataList) {
        if (entry.typeUrl === DIGEST_TYPE_URL) {
          const digestObject = Digest.fromBinary(entry.value)
          const anyWrapper = await bytestream.readAny(this.namespace, digestObject.hash, digestObject.sizeBytes)

          if (anyWrapper?.typeUrl === EXECUTION_STATS_TYPE_URL) {
            this.stats = ExecutionStatistics.fromBinary(anyWrapper.value)
            return
          }
        }
      }
    },
    durationString (duration?: Duration) {
      if (!duration) {
        return undefined
      }
      const secs = Number(duration.seconds) + duration.nanos * 10E-9
      return secs.toFixed(3)
    }
  }
})
</script>

<style lang="scss" scoped>
.execution-statistics {
  margin-top: 1rem;
}

.stats-information-header {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 0;
  display: flex;

  svg {
    margin-left: 0.25rem;
    height: 1.5rem;
    vertical-align: bottom;
  }
}

.help-icon {
  width: 1em;
  height: 1em;
  color: var(--color-icon-grey);
  vertical-align: bottom;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}

.card {
  background-color: var(--color-bg-top);
  border-radius: 0.5rem;
  padding: 1.25rem;
  box-shadow: 0 .2rem .4rem rgba(0,0,0,.1);

  h4 {
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    color: var(--color-text-muted)
  }

  dt {
    color: var(--color-grey-dark);
    font-size: 0.9rem;
  }

  dd {
    margin: 0 0 1rem 0;
    font-size: 1rem;
  }
}
</style>
