<!--
  Copyright 2023 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script setup lang="ts">
import { DecodedAction, DecodedActionResult } from '@/apis/actions';
import operations, { DecodedExecuteResponse, DecodedOperation } from '@/apis/operations';
import { ExecutionStage_Value as ExecutionStageValue } from '@/protos/build/bazel/remote/execution/v2/remote_execution';
import { computed } from 'vue';

interface Props {
  action?: DecodedAction,
  operation?: DecodedOperation,
  response?: DecodedExecuteResponse
  result?: DecodedActionResult;
}

const props = defineProps<Props>()

const pillClass = (condition: boolean) => {
  return {
    'pill-green': condition,
    'pill-red': !condition
  }
}

const resolvedResult = computed(() => props.result || props.operation?.response?.result)

const stageName = computed(() => {
  return props.operation ? operations.stageName(props.operation) : undefined
})
const stagePillClass = computed(() => {
  const stage = props.operation?.metadata?.stage
  return {
    'pill-yellow': stage === ExecutionStageValue.QUEUED || stage === ExecutionStageValue.CACHE_CHECK,
    'pill-green': stage === ExecutionStageValue.COMPLETED && resolvedResult.value?.exitCode === 0,
    'pill-red': stage === ExecutionStageValue.COMPLETED && resolvedResult.value?.exitCode !== 0,
    'pill-blue': stage === ExecutionStageValue.EXECUTING
  }
})
</script>

<template>
  <div class="execution-metadata">
    <ul
      v-if="!!operation || !!result"
      class="metadata"
    >
      <li
        v-if="operation?.metadata"
        class="pill"
        :class="stagePillClass"
      >
        {{ stageName }}
      </li>
      <li
        v-if="resolvedResult"
        class="pill"
        :class="pillClass(resolvedResult?.exitCode == 0)"
      >
        Exited with code {{ resolvedResult?.exitCode }}
      </li>
      <li
        v-if="action?.salt"
        class="split-pill"
      >
        <span class="pill-title">Cache Salt</span>
        <span class="pill-content">{{ action?.salt }}</span>
      </li>
      <li
        v-if="response"
        class="pill"
        :class="pillClass(response.cachedResult)"
      >
        Cache {{ response.cachedResult ? 'hit' : 'miss' }}
      </li>
      <li
        class="pill"
        :class="pillClass(!action?.doNotCache)"
      >
        {{ action?.doNotCache ? 'Uncacheable' : 'Cacheable' }}
      </li>
    </ul>
  </div>
</template>

<style scoped lang="scss">
.execution-metadata {
  display: flex;
  margin: 0;
}

.metadata {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 1rem;

  .pill {
    padding: 0.5rem 1rem;
    margin: 0 0.75rem 0 0;
    color: var(--color-grey-dark);
    background-color: var(--color-grey-light);
    border-radius: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .split-pill {
    margin: 0 0.75rem 0 0;

    &:last-child {
      margin-right: 0;
    }

    span {
      padding: 0.5rem 1rem;
    }

    .pill-title {
      background-color: var(--color-grey-light);
      border-radius: 0.5rem 0 0 0.5rem;
    }

    .pill-content {
      background-color: var(--color-grey);
      color: var(--color-white);
      border-radius: 0 0.5rem 0.5rem 0;
      box-shadow: 0 -0.2rem .4rem rgba(0, 0, 0, .1) inset;
    }
  }

  .pill-green {
    background-color: var(--color-green-light);
    color: var(--color-green-dark);
  }

  .pill-red {
    background-color: var(--color-red-light);
    color: var(--color-red-dark);
  }

  .pill-blue {
    background-color: var(--color-blue-light);
    color: var(--color-blue-dark);
  }

  .pill-yellow {
    background-color: var(--color-yellow-light);
    color: var(--color-yellow-dark);
  }
}
</style>
