<!--
  Copyright 2021 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <OperationList
    v-if="results.operations.length > 0"
    :operations="results.operations"
  />
  <EmptyView v-else>
    {{ emptyText }}
  </EmptyView>
</template>

<script lang="ts">

import OperationList from '@/components/OperationList.vue'

import operations, { DecodedOperation } from '@/apis/operations'
import { defineComponent } from 'vue'
import EmptyView from './EmptyView.vue'

export default defineComponent({
  name: 'FilteredOperationsList',
  components: {
    OperationList,
    EmptyView
},
  props: {
    emptyText: {
      type: String,
      default: 'No operations found'
    },
    filter: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      results: {
        operations: [] as DecodedOperation[]
      }
    }
  },
  computed: {
    namespace () {
      return (this.$route.params.namespace || '') as string
    }
  },
  created () {
    this.fetchOperations()
  },
  methods: {
    async fetchOperations () {
      this.results = await operations.list(this.namespace, this.filter)
    }
  }
})
</script>

<style lang="scss" scoped>
.filtered-operations {
  border-collapse: collapse;
}
</style>
