<!--
  Copyright 2021 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <footer class="footer">
    <span v-if="gitInfo">bgd-browser revision
      <a
        class="gitlab-link"
        :href="gitRemote + gitInfo"
      >
        <code>{{ gitInfo }}</code>
      </a>
    </span>
    <span v-else-if="appVersion">bgd-browser version {{ appVersion }}</span>
  </footer>
</template>

<script lang="ts">

import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Footer',
  computed: {
    appVersion(): string {
      return import.meta.env.VITE_APP_VERSION
    },
    gitSha(): string {
      return import.meta.env.VITE_GIT_ABBREVIATED_HASH
    },
    gitTag(): string {
      return import.meta.env.VITE_GIT_TAG
    },
    gitRemote(): string {
      return import.meta.env.VITE_GIT_REMOTE || 'https://gitlab.com/BuildGrid/bgd-browser/-/tree/'
    },
    gitInfo() {
      if (this.gitTag) {
        return this.gitTag
      } else if (this.gitSha) {
        return this.gitSha
      } else {
        return ''
      }
    }
  }
})
</script>

<style lang="scss" scoped>
footer {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 10px 30px;
  font-size: 80%;
}

.gitlab-link {
  color: var(--color-text);
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: var(--color-link);
    box-shadow: 0 -2px 0 var(--color-link) inset;
  }
}
</style>
