<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <span>
    <router-link
      v-if="'route' in page"
      :to="page.route.fullPath"
    >{{ renderPageLink() }}</router-link>
    <a
      v-else-if="'url' in page"
      class="fallback-link"
      :href="`${page.url}`"
    >{{ renderPageLink() }}</a>
  </span>
</template>

<script lang="ts">

import { Page } from '@/apis/indexdb'
import { defineComponent, PropType } from 'vue'

export default defineComponent({
  props: {
    page: {
      type: Object as PropType<Page | { text: string }>,
      required: true
    }
  },
  methods: {
    renderPageLink() {
      function truncateText(text: string) {
        if (text.length > 64) {
          return text.slice(0, 64) + '...'
        }
        return text
      }

      if ('text' in this.page) {
        return truncateText(this.page.text)
      }
      const page = this.page
      const hash = page.route.params.hash as string
      const sizeBytes = page.route.params.sizeBytes as string
      switch (page.route?.name) {
        case 'Home':
          return 'Home'
        case 'Browse':
          return page.route.query.filter || 'No filter used'
        case 'Action':
          return hash.slice(0, 16) + '.../' + sizeBytes
        case 'Directory':
          return hash.slice(0, 16) + '.../' + sizeBytes
        case 'Tree':
          return hash.slice(0, 16) + '.../' + sizeBytes
        case 'File':
          return hash.slice(0, 16) + '.../' + sizeBytes
        case 'Correlated Invocations':
          return page.route.params.correlationId
        case 'Tool Invocation':
          return page.route.params.toolInvocationId
        case 'Worker Invocations':
          return page.route.params.workerName
        default:
          return truncateText(page.url)
      }
    }
  }
})
</script>

<style scoped lang="scss">
a {
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
  }
}
</style>
