<!--
  Copyright 2024 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script setup lang="ts">
import Footer from './Footer.vue';
import Navigation from './Navigation.vue';
</script>

<template>
  <Navigation />
  <div id="page">
    <slot />
  </div>
  <Footer />
</template>

<style scoped lang="scss">
#page {
  margin: 1.25rem 20%;
}
</style>