<template>
  <div class="multicolumn">
    <slot />
  </div>
</template>

<style scoped lang="scss">
.multicolumn {
  display: flex;
  max-height: 100vh;
  max-width: 100vw;
  overflow: auto;
  flex: 1;

  :slotted(.column-wide) {
    flex: 20;
  }

  :slotted(.column-narrow) {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  :slotted(.column-narrow-static) {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
  }

  &>:slotted(*) {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
</style>