<!--
  Copyright 2024 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script setup lang="ts">
import { getNamespaces } from '@/apis/base';
import { computed } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute()
const namespace = route.params.namespace || ''
const publicPath = import.meta.env.BASE_URL
const showOperations = computed(() => !getNamespaces() || namespace)

const browserRoute = () => namespace ? `/${namespace}/browse` : `/browse`
const workerRoute = () => namespace ? `/${namespace}/workers` : '/workers'
</script>

<template>
  <nav id="nav">
    <router-link to="/">
      <img :src="`${publicPath}bgd-logo.png`"> BuildGrid
    </router-link>
    <ul class="links">
      <li
        v-if="showOperations"
        class="link"
      >
        <router-link :to="browserRoute()">
          Operations
        </router-link>
      </li>
      <li
        v-if="showOperations"
        class="link"
      >
        <router-link :to="workerRoute()">
          Workers
        </router-link>
      </li>
      <li class="link">
        <router-link to="/history">
          History
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<style scoped lang="scss">
#nav {
  display: flex;
  padding: 10px 30px;
  background-color: var(--color-header-bg);
  box-shadow: 0 0 .2rem rgba(0, 0, 0, .1), 0 .2rem .4rem rgba(0, 0, 0, .2);
  font-size: 1.25em;
  color: #fff;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.125rem;

    li {
      margin: 0 2rem 0 0;
      padding: 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    color: var(--color-header-link);
    text-decoration: none;

    &:hover {
      color: var(--color-header-link-hover);
    }

    img {
      max-height: 30px;
      margin-right: 30px;
    }
  }
}
</style>