<script setup lang="ts">
import { DecodedOperation } from '@/apis/operations';
import { Directory } from '@/protos/build/bazel/remote/execution/v2/remote_execution';
import { DirectoryView, getDirectoryView } from '@/utils/directories';
import { ChevronDownIcon, ChevronRightIcon, FolderIcon, FolderOpenIcon } from '@heroicons/vue/outline';
import { computed, ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import DirectoryTree from './DirectoryTree.vue';
import TreeViewNode from './TreeViewNode.vue';

interface Props {
  operation: DecodedOperation;
  root?: Directory;
}
const props = defineProps<Props>();

const outputs = computed(() => {
  if (!props.operation?.response?.result) {
    return undefined;
  } else {
    return {
      directories: props.operation?.response?.result.outputDirectories,
      symlinks: props.operation?.response?.result.outputSymlinks,
      files: props.operation?.response?.result.outputFiles
    };
  }
});

const hasInputs = computed(() => {
  return props.root !== undefined && (
    props.root.directories.length > 0 ||
    props.root.symlinks.length > 0 ||
    props.root.files.length > 0
  );
});

const hasOutputs = computed(() => {
  return outputs.value !== undefined && (
    outputs.value.directories.length > 0 ||
    outputs.value.symlinks.length > 0 ||
    outputs.value.files.length > 0
  );
});

const router = useRouter();
const route = useRoute();
const namespace = route.params.namespace as string || "";

const openInputs = () => {
  if (props.operation.action?.inputRootDigest) {
    const url = router.resolve({
      name: 'Directory',
      params: {
        namespace,
        hash: props.operation.action.inputRootDigest.hash,
        sizeBytes: Number(props.operation.action.inputRootDigest.sizeBytes)
      }
    });
    window.open(url.href, '_blank');
  }
};

const inputDirectoryView = ref<DirectoryView>({ directories: [], files: [], symlinks: [] });
if (props.root) {
  getDirectoryView(props.root, namespace).then(result => { inputDirectoryView.value = result });
}

const outputDirectoryView = ref<DirectoryView>({ directories: [], files: [], symlinks: [] });
if (outputs.value) {
  getDirectoryView(outputs.value, namespace).then(result => { outputDirectoryView.value = result });
}

watch(() => props.root, async () => {
  if (props.root) {
    inputDirectoryView.value = await getDirectoryView(props.root, namespace);
  }
});
watch(outputs, async () => {
  if (outputs.value) {
    outputDirectoryView.value = await getDirectoryView(outputs.value, namespace);
  }
});
</script>

<template>
  <div class="operation-tree-view">
    <TreeViewNode :open="true">
      <template #icon-closed>
        <ChevronRightIcon class="link" />
      </template>
      <template #icon-open>
        <ChevronDownIcon class="link" />
      </template>
      Operation

      <template #children>
        <ul>
          <li v-if="root">
            <TreeViewNode
              :open="!hasInputs"
              @click.ctrl.prevent="openInputs"
            >
              <template #icon-closed>
                <FolderIcon class="link" />
              </template>
              <template #icon-open>
                <FolderOpenIcon class="link" />
              </template>
              Inputs
              <template #children>
                <DirectoryTree
                  v-if="hasInputs"
                  :root="inputDirectoryView"
                />
                <p
                  v-else
                  class="muted"
                >
                  Empty input root directory
                </p>
              </template>
            </TreeViewNode>
          </li>
          <li>
            <TreeViewNode :open="!hasOutputs">
              <template #icon-closed>
                <FolderIcon class="link" />
              </template>
              <template #icon-open>
                <FolderOpenIcon class="link" />
              </template>
              Outputs
              <template #children>
                <template v-if="!!outputs && hasOutputs && outputDirectoryView">
                  <DirectoryTree :root="outputDirectoryView" />
                </template>
                <p
                  v-else
                  class="muted"
                >
                  No outputs uploaded by the worker
                </p>
              </template>
            </TreeViewNode>
          </li>
        </ul>
      </template>
    </TreeViewNode>
  </div>
</template>

<style scoped lang="scss">
.operation-tree-view {
  max-width: 20rem;
  min-width: 20rem;
  overflow: auto;
}

p {
  margin: 0.5rem 0;
}
</style>