<!--
  Copyright 2021 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="operation-listing">
    <EmptyView v-if="operations.length == 0">
      No operations
    </EmptyView>

    <div v-else>
      <div
        v-if="showCounters"
        class="stats-wrapper"
      >
        <OperationListStats :operations="operations" />
      </div>
      <div v-if="!showCounters && showTotal">
        <h2>{{ operations.length }} operations</h2>
      </div>

      <div class="filters">
        <div class="filter">
          <FilterIcon />

          <label for="stage-filter">Stage</label>
          <select
            id="stage-filter"
            v-model="stageFilter"
          >
            <option value="all">
              All
            </option>
            <option
              v-if="haveQueuedOperations"
              value="queued"
            >
              Queued
            </option>
            <option
              v-if="haveExecutingOperations"
              value="executing"
            >
              Executing
            </option>
            <option
              v-if="haveCompletedOperations"
              value="completed"
            >
              Completed
            </option>
            <option
              v-if="haveCancelledOperations"
              value="cancelled"
            >
              Cancelled
            </option>
          </select>
        </div>

        <div
          v-if="stageFilter == 'completed'"
          class="filter"
        >
          <label for="show-successful">Successful</label>
          <input
            id="showSuccessful"
            v-model="showSuccessfulOperations"
            type="checkbox"
          >
        </div>
        <div
          v-if="stageFilter == 'completed'"
          class="filter"
        >
          <label for="show-failed">Failed</label>
          <input
            id="showFailed"
            v-model="showFailedOperations"
            type="checkbox"
          >
        </div>
      </div>

      <ul class="operation-list">
        <li
          v-for="operation in filteredOperations"
          :key="operation.name"
        >
          <OperationItem :operation="operation" />
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { FilterIcon } from '@heroicons/vue/outline'

import operations, { DecodedOperation } from '@/apis/operations'
import { defineComponent, PropType } from 'vue'

import OperationItem from '@/components/OperationItem.vue'
import OperationListStats from '@/components/OperationListStats.vue'
import EmptyView from './EmptyView.vue'

export default defineComponent({
  name: 'OperationList',
  components: {
    FilterIcon,
    OperationItem,
    OperationListStats,
    EmptyView
  },
  props: {
    operations: {
      type: Array as PropType<DecodedOperation[]>,
      default: () => []
    },
    showCounters: {
      type: Boolean,
      default: true
    },
    showTotal: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      stageFilter: 'all',
      showSuccessfulOperations: true,
      showFailedOperations: true
    }
  },
  computed: {
    filteredOperations () {
      switch (this.stageFilter) {
        case 'queued':
          return this.operations.filter(o => operations.operationIsQueued(o))
        case 'executing':
          return this.operations.filter(o => operations.operationIsExecuting(o))
        case 'cancelled':
          return this.operations.filter(o => operations.operationWasCancelled(o))
        case 'completed':
          return this.operations.filter((operation) => {
            if (operations.operationIsCompleted(operation)) {
              return (this.showSuccessfulOperations && operations.operationIsSuccessful(operation)) ||
                     (this.showFailedOperations && operations.commandFailed(operation))
            }
            return false
          })
        case 'all':
        default:
          return this.operations
      }
    },
    haveQueuedOperations () {
      return this.operations.some(o => operations.operationIsQueued(o))
    },
    haveExecutingOperations () {
      return this.operations.some(o => operations.operationIsExecuting(o))
    },
    haveCompletedOperations () {
      return this.operations.some(o => operations.operationIsCompleted(o))
    },
    haveCancelledOperations () {
      return this.operations.some(o => operations.operationWasCancelled(o))
    }
  }
})
</script>

<style lang="scss" scoped>
.operation-listing {
  h2 {
    font-size: 2rem;
    font-weight: 300;
  }

  border-collapse: collapse;

  .operation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }

  .filters {
    font-size: 90%;
    padding: 0.5em;

    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);

    .filter {
      display: inline-block;
      margin-right: 1em;

      svg {
        vertical-align: middle;
        height: 20px;
        width: 20px;
        margin-right: 0.5em;
      }
    }

    .filter label {
      margin-right: 0.2em;
    }

    .filter label, select, input {
      vertical-align: middle;
    }
  }
}
</style>
