<!--
  Copyright 2021 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="operation-list-stats">
    <div class="operation-counters">
      <h2>{{ operations.length }} operations</h2>
      <p>
        {{ queuedOperationsCount }} queued /
        {{ executingOperationsCount }} executing /
        {{ completedOperationsCount }} completed
      </p>
    </div>
    <div class="detailed-stats">
      <table class="operations-stats-table">
        <tr>
          <th>Total execution time</th>
          <td>{{ invocationTotalExecutionTime }}</td>
        </tr>
        <tr v-if="firstQueuedTime">
          <th>First in queue</th>
          <td> {{ firstQueuedTime }}</td>
        </tr>
        <tr v-if="lastCompletedTime">
          <th>Last completed</th>
          <td>{{ lastCompletedTime }}</td>
        </tr>
        <tr v-if="completedOperationsCount > 0">
          <th>Successful</th>
          <td>{{ successfulOperationsCount }}  / {{ completedOperationsCount }} ({{ successPercentage }}%)</td>
        </tr>
        <tr v-if="cancelledOperationsCount > 0">
          <th>Cancelled</th>
          <td>{{ cancelledOperationsCount }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import operations, { DecodedOperation } from '@/apis/operations'
import { Timestamp } from '@/protos/google/protobuf/timestamp'

export default defineComponent({
  name: 'OperationListStats',
  props: {
    operations: {
      type: Array as PropType<DecodedOperation[]>,
      default: () => []
    }
  },
  computed: {
    queuedOperationsCount () {
      return this.operations.filter(o => operations.operationIsQueued(o)).length
    },
    executingOperationsCount () {
      return this.operations.filter(o => operations.operationIsExecuting(o)).length
    },
    completedOperationsCount () {
      return this.operations.filter(o => operations.operationIsCompleted(o)).length
    },
    successfulOperationsCount () {
      return this.operations.filter(o => operations.operationIsSuccessful(o)).length
    },
    cancelledOperationsCount () {
      return this.operations.filter(o => operations.operationWasCancelled(o)).length
    },
    successPercentage () {
      if (this.completedOperationsCount > 0) {
        const pct = 100 * this.successfulOperationsCount / this.completedOperationsCount
        return pct.toFixed(1)
      }
      return '-'
    },
    invocationTotalExecutionTime () {
      let totalExecutionTimeSecs = 0
      this.operations.forEach((operation) => {
        const execTime = this.queuedToCompletedTimeDelta(operation)
        if (execTime) {
          totalExecutionTimeSecs += execTime
        }
      })
      return totalExecutionTimeSecs
        ? this.formattedTotalExecutionTime(totalExecutionTimeSecs)
        : undefined
    },
    firstQueuedTime () {
      let firstQueuedDate: Date | undefined
      this.operations.forEach((result) => {
        const queuedTimestamp = result.response?.result?.executionMetadata?.queuedTimestamp
        if (queuedTimestamp) {
          const queuedDate = this.dateFromTimestamp(queuedTimestamp)
          if (!firstQueuedDate || (queuedDate < firstQueuedDate)) {
            firstQueuedDate = queuedDate
          }
        }
      })

      return firstQueuedDate ? this.formatDatetime(firstQueuedDate) : undefined
    },
    lastCompletedTime () {
      let lastCompletedDate: Date | undefined
      this.operations.forEach((result) => {
        const completedTimestamp = result.response?.result?.executionMetadata?.workerCompletedTimestamp
        if (completedTimestamp) {
          const completedDate = this.dateFromTimestamp(completedTimestamp)
          if (!lastCompletedDate || (completedDate > lastCompletedDate)) {
            lastCompletedDate = completedDate
          }
        }
      })

      return lastCompletedDate ? this.formatDatetime(lastCompletedDate) : undefined
    }
  },
  methods: {
    dateFromTimestamp (timestamp: Timestamp) {
      return new Date((Number(timestamp.seconds) * 1000) + (timestamp.nanos * 0.000001))
    },
    formatDatetime (datetime: Date) {
      return datetime.toLocaleString()
    },
    queuedToCompletedTimeDelta (operation: DecodedOperation) {
      const executionMetadata = operation.response?.result?.executionMetadata
      if (executionMetadata?.queuedTimestamp && executionMetadata?.workerCompletedTimestamp) {
        const start = this.dateFromTimestamp(executionMetadata.queuedTimestamp)
        const end = this.dateFromTimestamp(executionMetadata.workerCompletedTimestamp)
        const deltaSecs = (end.getTime() - start.getTime()) / 1000
        return deltaSecs
      }
      return undefined
    },
    formattedTotalExecutionTime (numSecs: number) {
      if (numSecs) {
        return numSecs.toFixed(1) + ' s'
      }
      return ''
    }
  }
})
</script>

<style lang="scss" scoped>
  h2 {
    font-size: 2rem;
    font-weight: 300;
  }

  .operation-list-stats {
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .operations-stats-table {
    background-color: var(--color-bg-top);
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 .2rem .4rem rgba(0,0,0,.1);

    th {
      text-align: left;
      line-height: 125%;
      padding-right: 2em;
    }
  }
</style>
