<!--
  Copyright 2021 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="pagination-controls">
    <a
      v-if="havePreviousPage"
      class="page-change-button"
      @click="$emit('jumpToFirst')"
    >
      <ChevronDoubleLeftIcon />
    </a>
    <span
      class="disabled"
      v-else
    >
      <ChevronDoubleLeftIcon />
    </span>
    <a
      v-if="havePreviousPage"
      class="page-change-button"
      @click="$emit('jumpToPrevious')"
    >
      <ChevronLeftIcon />
    </a>
    <span
      class="disabled"
      v-else
    >
      <ChevronLeftIcon />
    </span>
    Page {{ currentPage }}
    <a
      v-if="haveNextPage"
      class="page-change-button"
      @click="$emit('jumpToNext')"
    >
      <ChevronRightIcon />
    </a>
    <span
      class="disabled"
      v-else
    >
      <ChevronRightIcon />
    </span>
  </div>
</template>

<script lang="ts">
import { ChevronDoubleLeftIcon, ChevronLeftIcon, ChevronRightIcon } from '@heroicons/vue/outline';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PaginationControls',
  components: {
    ChevronDoubleLeftIcon,
    ChevronLeftIcon,
    ChevronRightIcon
  },
  props: {
    currentPage: {
      type: Number,
      default: 0
    },
    havePreviousPage: {
      type: Boolean,
      default: false
    },
    haveNextPage: {
      type: Boolean,
      default: false
    }
  },
  emits: ['jumpToFirst', 'jumpToPrevious', 'jumpToNext']
})
</script>

<style lang="scss" scoped>
.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  box-sizing: border-box;

  .page-change-button {
    cursor: pointer;
  }

  svg {
    vertical-align: middle;
    height: 1.25rem;
    width: 1.25rem;
    padding: 0.5rem;
  }

  span {
    border: 1px solid var(--color-bg);
  }

  a {
    display: flex;
    align-items: center;
    border-radius: 4rem;
    color: var(--color-link);
    border: 1px solid var(--color-bg);

    &:hover {
      background-color: var(--color-bg-top);
      border: 1px solid var(--color-link);
    }
  }
}
</style>
