<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="search-input">
    <div
      class="filter-container"
      :class="{ focused }"
      tabindex="0"
      @focus.capture="focus"
      @blur.capture="blur"
    >
      <span class="prompt">
        {{ prompt }}
      </span>
      <div class="group">
        <input
          ref="input"
          type="text"
          :value="modelValue"
          @input="$emit('update:modelValue', ($event?.target as HTMLInputElement).value)"
        >
        <span
          v-if="!modelValue"
          class="prompt absolute"
        >
          {{ defaultText }}
        </span>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'SearchInput',
  props: {
    modelValue: String,
    prompt: {
      type: String,
      default: 'Find Operations where...'
    },
    defaultText: String
  },
  emits: ['update:modelValue'],
  data() {
    return {
      focused: false
    }
  },
  methods: {
    blur() {
      this.focused = false
    },
    focus() {
      this.focused = true
      const input = this.$refs.input as HTMLInputElement
      input.focus()
    }
  }
})
</script>

<style scoped lang="scss">
.filter-container {
  display: flex;
  align-items: center;
  background-color: var(--color-bg-top);
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 0 0 0 10px;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .1);
  transition: 150ms ease-in-out all;
  cursor: text;

  &.focused {
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .1), 0 .2rem .4rem rgba(0, 0, 0, .3);
  }

  .prompt {
    color: var(--color-text-muted);
  }

  input {
    border: none;
    flex: 1 0 auto;
    font-size: 1.1rem;
    padding: 16px;
    border-radius: 5px;
    background-color: var(--color-bg-top);
    color: var(--color-text)
  }

  .group {
    display: flex;
    position: relative;
    flex: 1 0 auto;

    .absolute {
      position: absolute;
      top: 0;
      padding: 1rem;
    }
  }
}
</style>
