<script setup lang="ts">
import { computed } from 'vue';

interface Props {
  size?: bigint;
}

const props = defineProps<Props>();

const displaySize = computed(() => {
  if (props.size === undefined) {
    return 0;
  } else if (props.size < 2 ** 10) {
    return Number(props.size);
  } else if (props.size < 2 ** 20) {
    return Math.round((Number(props.size) / 2 ** 10) * 100) / 100;
  } else if (props.size < 2 ** 30) {
    return Math.round((Number(props.size) / 2 ** 20) * 100) / 100;
  } else if (props.size < 2 ** 40) {
    return Math.round((Number(props.size) / 2 ** 30) * 100) / 100;
  } else {
    return Math.round((Number(props.size) / 2 ** 40) * 100) / 100;
  }
})
const suffix = computed(() => {
  if (props.size === undefined) {
    return '';
  } else if (props.size < 2 ** 10) {
    return "B";
  } else if (props.size < 2 ** 20) {
    return "KiB";
  } else if (props.size < 2 ** 30) {
    return "MiB";
  } else if (props.size < 2 ** 40) {
    return "GiB";
  } else {
    return "TiB";
  }
})

</script>

<template>
  <div>
    {{ displaySize }} <span class="muted">{{ suffix }}</span>
  </div>
</template>
