<script setup lang="ts">
import { ref } from 'vue';

interface Props {
  open?: boolean;
}

const props = defineProps<Props>();

const displayChildren = ref(!!props.open);
const toggleChildren = () => displayChildren.value = !displayChildren.value;
</script>

<template>
  <button
    @click="toggleChildren"
    v-bind="$attrs"
  >
    <template v-if="!displayChildren">
      <slot name="icon-closed" />
    </template>
    <template v-else>
      <slot name="icon-open" />
    </template>
    <div>
      <slot />
    </div>
  </button>
  <div
    v-if="displayChildren"
    class="children"
  >
    <slot name="children" />
  </div>
</template>

<style scoped lang="scss">
.children {
  margin-left: 1.25rem;
  position: relative;

  &::before {
    content: "";
    width: 1px;
    top: 0;
    bottom: 0;
    left: -1.125rem;
    position: absolute;
    background: var(--color-timeline-line);
  }
}

:slotted(ul) {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

:slotted(:deep(li)) {
  padding: 0;
  margin: 0.5rem 0;
  text-indent: 0;
  list-style-type: none;
}

:slotted(svg) {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

button {
  display: flex;
  text-decoration: none;
  transition: 100ms ease-in-out all;

  & :slotted(.link) {
    color: var(--color-link);
  }

  &:hover {
    color: var(--color-link);
  }
}
</style>
