<template>
  <h1>
    <slot />
  </h1>
</template>


<style scoped lang="scss">
h1 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-title);
  margin: 0 0 1rem 0;

  :deep(span) {
    font-size: 1.25rem;
    margin-left: 1rem;
  }
}
</style>