<script setup lang="ts">
import { ClockIcon, EyeIcon, StatusOfflineIcon, StatusOnlineIcon } from '@heroicons/vue/outline';
import { computed } from 'vue';

import { botStatusName } from '@/apis/reapi';
import { ParsedWorker } from '@/apis/workers';
import DateTime from '@/components/DateTime.vue';
import { BotStatus } from '@/protos/google/devtools/remoteworkers/v1test2/bots';

interface Props {
  worker: ParsedWorker
}
const props = defineProps<Props>();
const online = computed(() => props.worker.botStatus === BotStatus.OK);
</script>

<template>
  <div class="row">
    <p class="primary">
      {{ worker.workerName }}
    </p>
  </div>
  <div class="row">
    <span
      class="metadata"
      v-if="worker.lastUpdated"
    >
      <EyeIcon />
      <DateTime :milliseconds="worker.lastUpdated.getTime()" />
    </span>
    <span
      class="metadata"
      v-if="worker.expiryTime"
    >
      <ClockIcon />
      <DateTime :milliseconds="worker.expiryTime.getTime()" />
    </span>
    <span class="metadata">
      <StatusOnlineIcon v-if="online" />
      <StatusOfflineIcon v-if="!online" />
      {{ botStatusName(worker.botStatus) }}
    </span>
  </div>
</template>

<style scoped lang="scss">
.row {
  display: flex;
  align-items: center;
  margin: 0 0 0.25rem 0;

  p {
    margin: 0;
    padding: 0;

    &.primary {
      font-size: 1.25rem;
      color: var(--color-link);
    }
  }

  span {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;

    svg {
      max-width: 1.5rem;
      width: 1.5rem;
      color: var(--color-text-muted);
      margin-right: 0.25rem;
    }

    &.metadata {
      color: var(--color-text-muted);
    }
  }
}
</style>