<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="build-event-details">
    <div class="flex">
      <p class="build-event-title">
        Build metrics
      </p>
      <a
        class="display-toggle"
        @click="showMore = !showMore"
      >
        {{ showMore ? 'Hide' : 'Show' }} details
      </a>
    </div>
    <div v-if="showMore">
      <div class="row">
        <p class="muted">
          Action Summary
        </p>
        {{ event.actionSummary }}
      </div>

      <div class="row">
        <p class="muted">
          Memory Metrics
        </p>
        {{ event.memoryMetrics }}
      </div>

      <div class="row">
        <p class="muted">
          Target Metrics
        </p>
        {{ event.targetMetrics }}
      </div>

      <div class="row">
        <p class="muted">
          Package Metrics
        </p>
        {{ event.packageMetrics }}
      </div>

      <div class="row">
        <p class="muted">
          Timing Metrics
        </p>
        {{ event.timingMetrics }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { BuildEventId, BuildMetrics } from '@/protos/build_event_stream/build_event_stream'

export default defineComponent({
  name: 'BazelEventBuildMetrics',
  props: {
    event: {
      type: Object as PropType<BuildMetrics>,
      required: true
    },
    id: {
      type: Object as PropType<BuildEventId>,
      required: true
    }
  },
  data () {
    return {
      showMore: false
    }
  }
})
</script>
