<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="build-event-details">
    <div class="flex">
      <p class="build-event-title">
        {{ capitalize(event.commandLineLabel ? event.commandLineLabel : 'Unspecified') }}
        command line parsed
      </p>
      <a
        v-if="event.commandLineLabel"
        class="display-toggle"
        @click="showMore = !showMore"
      >
        {{ showMore ? 'Hide' : 'Show' }} details
      </a>
    </div>
    <div v-if="showMore">
      <div class="row">
        <p class="muted">
          Command
        </p>
        <span class="code">{{ executable }} {{ command }} {{ residual }}</span>
      </div>
      <div class="row">
        <p class="muted">
          Startup Options
        </p>
        <ul v-if="startupOptions.length > 0">
          <li
            v-for="option in startupOptions"
            :key="option.combinedForm"
          >
            --{{ option.optionName }}={{ option.optionValue }}
          </li>
        </ul>
        <div v-else>
          No startup options specified
        </div>
      </div>
      <div class="row">
        <p class="muted">
          Command Options
        </p>
        <ul>
          <li
            v-for="option in commandOptions"
            :key="option.combinedForm"
          >
            --{{ option.optionName }}={{ option.optionValue }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { ChunkList, CommandLine, CommandLineSection, OptionList } from '@/protos/build_event_stream/command_line'

export default defineComponent({
  name: 'BazelEventStructuredCommandLine',
  props: {
    event: {
      type: Object as PropType<CommandLine>,
      required: true
    }
  },
  data () {
    return {
      showMore: false
    }
  },
  computed: {
    executable () {
      return this.findChunkList('executable')?.chunk[0]
    },
    command () {
      return this.findChunkList('command')?.chunk[0]
    },
    residual () {
      return this.findChunkList('residual')?.chunk[0]
    },
    commandOptions () {
      return this.findOptionList('command options')?.option
    },
    startupOptions () {
      return this.findOptionList('startup options')?.option || []
    }
  },
  methods: {
    capitalize (value?: any) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    },
    findElement (name: string) {
      let el: CommandLineSection | undefined
      this.event.sections.forEach(element => {
        if (element.sectionLabel === name) {
          el = element
        }
      })
      return el
    },
    findChunkList (name: string) {
      const el = this.findElement(name)
      return el ? (el.sectionType as {chunkList: ChunkList}).chunkList : undefined
    },
    findOptionList (name: string) {
      const el = this.findElement(name)
      return el ? (el.sectionType as {optionList: OptionList}).optionList : undefined
    }
  }
})
</script>
