<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="build-event-details">
    <div class="flex">
      <p class="build-event-title">
        Target <span class="inline-code">{{ targetConfiguredId.label }}</span> configured
      </p>
      <a
        class="display-toggle"
        @click="showMore = !showMore"
      >
        {{ showMore ? 'Hide' : 'Show' }} details
      </a>
    </div>
    <div v-if="showMore">
      <div class="row">
        <p class="muted">
          Target Kind
        </p>
        <p>{{ event.targetKind }}</p>
      </div>

      <div class="row">
        <p class="muted">
          Test Size
        </p>
        <p>{{ testSize }}</p>
      </div>

      <div class="row">
        <p class="muted">
          Tags
        </p>
        <ul v-if="event.tag.length > 0">
          <li
            v-for="tag in event.tag"
            :key="tag"
          >
            {{ tag }}
          </li>
        </ul>
        <p v-else>
          No tags
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  BuildEventId,
  BuildEventId_TargetConfiguredId as TargetConfiguredId,
  TargetConfigured,
  TestSize
} from '@/protos/build_event_stream/build_event_stream'
import { defineComponent, PropType } from 'vue'

export default defineComponent({
  name: 'BazelEventTargetConfigured',
  props: {
    event: {
      type: Object as PropType<TargetConfigured>,
      required: true
    },
    id: {
      type: Object as PropType<BuildEventId>,
      required: true
    }
  },
  data () {
    return {
      showMore: false
    }
  },
  computed: {
    testSize () {
      if (this.event.testSize === TestSize.SMALL) {
        return 'Small'
      } else if (this.event.testSize === TestSize.MEDIUM) {
        return 'Medium'
      } else if (this.event.testSize === TestSize.LARGE) {
        return 'Large'
      } else if (this.event.testSize === TestSize.ENORMOUS) {
        return 'Enormous'
      } else {
        return 'Unknown'
      }
    },
    targetConfiguredId () {
      return (this.id.id as {targetConfigured: TargetConfiguredId}).targetConfigured
    }
  }
})
</script>
