<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="build-event-details">
    <div class="flex">
      <p class="build-event-title">
        Progress update
      </p>
      <a
        v-if="stderrHtml"
        class="display-toggle"
        @click="showMore = !showMore"
      >
        {{ showMore ? 'Hide' : 'Show' }} details
      </a>
    </div>
    <!-- TODO: render this lot more nicely -->
    <div
      v-if="showMore"
      class="code"
    >
      <pre v-html="stderrHtml" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { Progress } from '@/protos/build_event_stream/build_event_stream'
import Convert from 'ansi-to-html'

const convert = new Convert()

export default defineComponent({
  name: 'BazelEventProgress',
  props: {
    event: {
      type: Object as PropType<Progress>,
      required: true
    }
  },
  data () {
    return {
      showMore: false
    }
  },
  computed: {
    stderrHtml (): string {
      const stderrArray = this.event.stderr.split('\n').map((line) => {
        const trimmed = line.trim()
        if (trimmed !== '') {
          return `${trimmed}\n`
        }
        return trimmed
      })
      const stderrString = stderrArray.join('')
      // eslint-disable-next-line @typescript-eslint/no-unsafe-call
      return convert.toHtml(stderrString) 
    }
  }
})
</script>
