<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="build-event-details">
    <div class="flex">
      <p class="build-event-title">
        Target <span class="inline-code">{{ targetCompletedId.label }}</span> completed
      </p>
      <a
        class="display-toggle"
        @click="showMore = !showMore"
      >
        {{ showMore ? 'Hide' : 'Show' }} details
      </a>
    </div>
    <div v-if="showMore">
      <div class="row">
        <!-- TODO: you can do better than this SotK -->
        <p class="muted">
          Success
        </p>
        {{ event.success }}
      </div>

      <!-- TODO: file sets -->

      <div class="row">
        <p class="muted">
          Important Outputs
        </p>
        <ul>
          <li
            v-for="output in event.importantOutput"
            :key="output.name"
          >
            <BazelFile :file="output" />
          </li>
        </ul>
      </div>

      <div class="row">
        <p class="muted">
          Tags
        </p>
        <ul v-if="event.tag.length > 0">
          <li
            v-for="tag in event.tag"
            :key="tag"
          >
            {{ tag }}
          </li>
        </ul>
        <p v-else>
          No tags
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import BazelFile from '@/components/BazelEvents/BazelFile.vue'
import { defineComponent, PropType } from 'vue'
import {
  BuildEventId,
  BuildEventId_TargetCompletedId as TargetCompletedId,
  TargetComplete
} from '@/protos/build_event_stream/build_event_stream'

export default defineComponent({
  name: 'BazelEventTargetCompleted',
  components: {
    BazelFile
  },
  props: {
    event: {
      type: Object as PropType<TargetComplete>,
      required: true
    },
    id: {
      type: Object as PropType<BuildEventId>,
      required: true
    }
  },
  data () {
    return {
      showMore: false
    }
  },
  computed: {
    targetCompletedId () {
      return (this.id.id as {targetCompleted: TargetCompletedId}).targetCompleted
    }
  }
})
</script>
