<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="build-event-details">
    <div class="flex">
      <p class="build-event-title">
        Unstructured command line
      </p>
      <a
        class="display-toggle"
        @click="showMore = !showMore"
      >
        {{ showMore ? 'Hide' : 'Show' }} details
      </a>
    </div>
    <div v-if="showMore">
      <div class="row">
        <span class="muted">Command line components</span>
        <ul>
          <li
            v-for="arg in event.args"
            :key="arg"
          >
            {{ arg }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { UnstructuredCommandLine } from '@/protos/build_event_stream/build_event_stream'

export default defineComponent({
  name: 'BazelEventUnstructuredCommandLine',
  props: {
    event: {
      type: Object as PropType<UnstructuredCommandLine>,
      required: true
    }
  },
  data () {
    return {
      showMore: false
    }
  }
})
</script>
