<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div>
    <div v-if="uri">
      <a
        :href="outputUrl(file)"
        target="_blank"
        class="clickable"
      >
        <ExternalLinkIcon />
        <span
          v-for="prefix in file.pathPrefix"
          :key="prefix"
        >{{ prefix }}/</span>{{ file.name }}
      </a>
    </div>
    <div v-else-if="content">
      <span
        class="clickable"
        @click="expanded = !expanded"
      >
        <ChevronRightIcon v-if="!expanded" />
        <ChevronDownIcon v-else />

        <span
          v-for="prefix in file.pathPrefix"
          :key="prefix"
        >{{ prefix }}/</span>
        {{ file.name }}
      </span>
      <div
        v-if="expanded"
        class="code"
      >
        <pre>{{ content }}</pre>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { ChevronDownIcon, ChevronRightIcon, ExternalLinkIcon } from '@heroicons/vue/outline'
import { defineComponent, PropType } from 'vue'
import { File } from '@/protos/build_event_stream/build_event_stream'

export default defineComponent({
  name: 'BazelFile',
  components: {
    ChevronDownIcon,
    ChevronRightIcon,
    ExternalLinkIcon
  },
  props: {
    file: {
      type: Object as PropType<File>,
      required: true
    }
  },
  data () {
    return {
      expanded: false
    }
  },
  computed: {
    namespace () {
      return (this.$route.params.namespace || '') as string
    },
    content () {
      if ('contents' in this.file.file) {
        return new TextDecoder().decode(this.file.file.contents)
      }
      return undefined
    },
    uri () {
      if ('uri' in this.file.file) {
        return this.file.file.uri
      }
      return undefined
    }
  },
  methods: {
    outputUrl (uri: string) {
      const [hash, sizeBytes] = uri.split('/').slice(-2)
      return this.namespace ? `/${this.namespace}/file/${hash}/${sizeBytes}` : `/file/${hash}/${sizeBytes}`
    }
  }
})
</script>

<style lang="scss" scoped>

.clickable {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 0.25rem 0;

  &:hover {
    color: var(--color-link);
  }
}

svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    box-shadow: 0 -2px 0 var(--color-link) inset;
  }
}

</style>
